<template>
  <div>
    <div>
      <sidebar />
      <navbar />
    </div>
    <transition name="fade" mode="out-in">
      <router-view class="main" name="MainView"></router-view>
    </transition>
  </div>
</template>
<script>
// import vueCustomScrollbar from "vue-custom-scrollbar";
import navbar from "@/components/navbar";
import sidebar from "@/components/sidebar";
export default {
  components: {
    navbar,
    sidebar,
  },
};
</script>
