:root {
	--primary: #111B54;
	--light: #ffffff;
	--grey: #efefef;
}

body {
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: var(--primary);
}

a:hover {
	text-decoration: none;
}

.bg-primary { background-color: var(--primary) !important; }
.bg-grey { background-color: var(--grey) !important; }


#sidebar-container {
	min-height: 100vh;
}

#sidebar-container .logo {
	padding: .875rem 1.25rem;
}

#sidebar-container .menu {
	width: 18rem;
}

.active {
	background-color: #080927;
}

.btn-logout {
	right: 20px;
	background: #080927;
	border: none;
	color: white;
}

.btn-logout:hover {
  background: #19294E;
  transition: 0.5s background;
}

#content {
	overflow-y: auto;
	height: 100vh;
	padding-bottom: 5rem;
}

.navbar {
	height: 60px;
}

.table-wrapper {
	background: #ffffff;
	padding: 20px 25px ;
	margin: 30px 0;
	border-radius: 1px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.247);
}

