.sidenav {
      background-color:#7B98E3;;
      height: 100%;
      position:absolute;
      top:160px;

    }

 .sidenav {
        height: 763px;
        padding: 15px;
         left:10px;
         width:320px;
      }
      .row.content {height: auto;} 
    }

  .logo{
  	  width:500px;
  	  height:129px;
  	  top:100px;
  	  left:100px;
  	  position:relative	;

    }
 .textname{
 	  position:relative;
 	  width:263px;
 	  height:86px;
 	  top:30px;
 	  left:20px;
 	  width: auto;
 	  color:white;
 	}
 .jumbo{
      width:auto;
      height: 200px;
 	}
 .col{
 	color:blue;
 	height:100px;
 }
 .mycontainer{
 	height:150px;
 	background: #7B98E3;
 	width:auto;
 	padding:10px;


 }
 .mycontainer1{
 	height:150px;
 	background: #7B98E3;
 	width:auto;
 	padding:10px;
 	top:800px;
 	position: relative;

 }
 .user{
 	position: absolute;
	width: 106px;
	height: 105px;
	left: 950px;
	top: 25px;
	color:white;
	text-align: center;
 }
 .usercolor{
 	color:white;
 }

 .border1{
 	position: absolute;
	width: 990px;
	height: 763px;
	left:350px;
	top: 160px;

background: #7B98E3;
 }

 .border2{
 	position: absolute;
	width: 950px;
	height: 700px;
	left:370px;
	top: 190px;

background:white;
 }

 .border3{
 	position: absolute;
	width: 950px;
	height: 700px;
	left:370px;
	top: 300px;

 }

 .div{
 	font-size-adjust: 0.58;

 }

 .textname1{
 	position:absolute;
	width: auto;
	height: 105px;
	left: 1020px;
	top: 32px;
	color:#FFFFFF;
}

 .button2{
 	position:absolute;
	width: auto;
	height: 105px;
	left: 1100px;
	top: 50px;
	color: white !important;
	border:0px;


 	
 }
 .graph{
 	position: absolute;
	width: 300px;
	height: auto;
	left:400px;
	top: 200px;
	background: white;
 }

 .graph1{
 	position: absolute;
	width: 500px;
	height: auto;
	left:400px;
	top: 10px;
	background: white;
 }

 .button1{
 	
 	border-color:#7B98E3;
 	height:50px;
 	width:120px;
 	position: relative;
 	left: 20px;
 	top:20px;
 }
 .btnupdate{
 	border-color:#7B98E3;
 	height:30px;
 	width:60px;
 	font-size:10px;
 	
 }

  .btndelete{
 	border-color:red;
 	height:30px;
 	width:60px;
 	font-size:10px;
 	text-align: center;
 }
  .btndEDIT{
 	border-color:green;
 	height:30px;
 	width:60px;
 	font-size:10px;
 	text-align: center;
 }
  .btndborrow{
 	border-color:pink;
 	height:30px;
 	width:60px;
 	font-size:10px;
 	text-align: center;
 }
  .input{
  	border-color:#7B98E3;
 	height:40px;
 	width:220px;
 	position: relative;
 	left: 500px;
 	top:25px;

  }
  .search{

  	border-color:#7B98E3;
 	height:30px;
 	width:30px;
 	position: relative;
 	left: 500px;
 	top:25px;

  
  }
  .btn3{
  	color:#7B98E3;
  }
