<template>
  <div id="app">

    <div class="main">
      <div class="container pt-4">
        <div class="add">
          <img
            v-b-modal.addModal
            Mangement
            Modal
            src="../../../assets/images/addp.png"
            height="27"
            data-toggle="modal"
            data-target="#addModal"
            class="cursor-pointer ml-4 mt-1 position-absolute"
          />
          <h4
            v-b-modal.addModal
            v-b-modal.AddPatron
            @click="$bvModal.show('AddPatron')"
            class="ml-6 cursor-pointer"
          >
            Add Patron
          </h4>
        </div>
        <div class="row mt-2">
          <div class="col-11 col-sm-11 col-md-11 col-lg-11">
            <div class="row justify-content-end mr-1 mb-3">
              <input
                type="text"
                class="rounded-pill cursor-pointer color-gray btn-sm"
                placeholder="Search"
              />
            </div>
            <div class="card pl-4 pt-4 pr-4 mb-4 card-shadow">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Email Address</th>
                      <th>Date Registered</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      v-for="(Patron, index) in PatronModelFilter"
                      :key="index"
                    >
                      <td>
                        {{
                          Patron.FirstName +
                          " " +
                          Patron.MiddleName +
                          " " +
                          Patron.LastName
                        }}
                      </td>
                      <td>
                        {{ Patron.EmailAddress }}
                      </td>
                      <td>
                        {{
                          Patron.PatronDateRegistered
                            | dateFormat("DD MMMM, YYYY")
                        }}
                      </td>

                      <a href="#">
                        <img
                          src="../../../assets/images/edit.png"
                          width="30px"
                          height="30px"
                          @click="ToBeUpdated(index)"
                          v-b-modal.UpdatePatron
                        />
                      </a>

                      <a
                        href="#"
                        @click="SelectedPatron = index"
                        v-b-modal.DeleteModal
                        ><img
                          src="../../../assets/images/delete.png"
                          width="30px"
                          height="30px"
                        />
                      </a>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <b-modal id="addModal" centered title="Add Patron">
      <form class="pl-5 pr-5">
        <div class="form-group">
          <label
            for="exampleFormControlInput1"
            placeholder="First Name"
          ></label>
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder=" First Name"
          />
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1"></label>
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="Middle Name"
          />
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1"></label>
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="Last Name"
          />
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1"></label>
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="Email Address"
          />
        </div>
      </form>
      <template #modal-footer="{ ok, cancel }">
        <b-button variant="secondary" @click="ok()"> Add </b-button>
        <b-button variant="info" @click="cancel()"> Cancel</b-button>
      </template>
    </b-modal>

    <b-modal
      id="deleteModal"
      centered
      title="Confirm Delete"
      @click="modalShow = !modalShow"
    >
      <p class="my-4">Are you sure you want to delete this patron?</p>
      <template #modal-footer="{ ok, cancel }">
        <b-button variant="info" @click="cancel()"> Cancel </b-button>
        <b-button variant="danger" @click="ok()"> Confirm </b-button>
      </template>
    </b-modal>

    <b-modal id="AddPatron" title="Add Patron" hide-header-close ref="modal">
      <div class="modal-body p-4">
        <div></div>
        <form id="AddPatron" ref="modal">
          <div class="form-group">
            <input
              id="FirstName"
              v-model="Form.FirstName"
              type="text"
              name="name"
              class="form-control form-control-lg"
              placeholder="First Name "
            />
          </div>
          <div class="form-group">
            <input
              id="MiddleName"
              v-model="Form.MiddleName"
              type="text"
              name="middlename"
              class="form-control form-control-lg"
              placeholder=" Middle Name "
            />
          </div>
          <div class="form-group">
            <input
              id="LastName"
              placeholder=" Last Name"
              v-model="Form.LastName"
              type="text"
              name="lastname"
              class="form-control form-control-lg"
            />
          </div>
          <div class="form-group">
            <input
              id="EmailAddress"
              placeholder=" Email Address"
              v-model="Form.EmailAddress"
              type="text"
              name="email"
              class="form-control form-control-lg"
              value="Email Address"
              required
            />
          </div>
        </form>
      </div>

      <template #modal-footer class="float-right">
        <b-button variant="secondary" @click="AddPatron">Add</b-button>
        <b-button variant="info" @click="HideModal()"> Cancel</b-button>
      </template>
    </b-modal>

    <b-modal
      id="UpdatePatron"
      title="Update Patron"
      centered
      modal-header
      no-close-on-backdrop
      no-close-on-esc
      hide-header-close
      ref="modal"
    >
      <div class="modal-body p-4">
        <div></div>
        <form id="AddPatron" ref="modal">
          <div class="form-group">
            <input
              id="FirstName"
              v-model="Form.FirstName"
              type="text"
              name="name"
              class="form-control form-control-lg"
              placeholder="Input Firssst Name "
            />
          </div>
          <div class="form-group">
            <input
              id="MiddleName"
              v-model="Form.MiddleName"
              type="text"
              name="middlename"
              class="form-control form-control-lg"
              placeholder="Input Middle Name "
            />
          </div>
          <div class="form-group">
            <input
              id="LastName"
              placeholder="Input Last Name"
              v-model="Form.LastName"
              type="text"
              name="lastname"
              class="form-control form-control-lg"
            />
          </div>
          <div class="form-group">
            <input
              id="EmailAddress"
              placeholder="Input Email Address"
              v-model="Form.EmailAddress"
              type="text"
              name="email"
              class="form-control form-control-lg"
              value="Email Address"
              required
            />
          </div>
        </form>
      </div>
      <template #modal-footer class="float-right">
        <b-button variant="secondary" @click="HideModal()"> Cancel</b-button>
        <b-button variant="info" @click="UpdatePatron(SelectedPatron)"
          >Update</b-button
        >
      </template>
    </b-modal>

    <b-modal size="300px" hide-header id="DeleteModal" centered ref="modal">
      <h3 class="text-center">Are you sure you want to Delete?</h3>
      <template #modal-footer class="float-right">
        <div class="w-100 float-right">
          <button
            type="button"
            class="promptt btn btn-danger mr-2"
            data-dismiss="modal"
            block
            @click="DeletePatron(SelectedPatron)"
          >
            Yes
          </button>
          <button
            type="button"
            class="promptt btn btn-success"
            block
            @click="$bvModal.hide('DeleteModal')"
          >
            Cancel
          </button>
        </div>
      </template>
    </b-modal>
  </div>
</template>


<script>
import { mapGetters, mapActions } from "vuex";
export default {
  data() {
    return {
      Form: {
        first_name: "",
        middle_name: "",
        last_name: "",
        email: "",
      },
      PatronModel: [],
      SelectedPatron: "",
      Search: "",
    };
  },
  methods: {
    ...mapActions(["fetchPatron", "addPatron", "updatePatron", "deletePatron"]),
    addPatronModal() {
      if (
        this.Form.first_name == "" ||
        this.Form.middle_name == "" ||
        this.Form.last_name == "" ||
        this.Form.email == ""
      ) {
        this.ErrorToast();
      } else {
        this.addPatron(this.Form);
        console.log(this.form);
        this.HideModal();
        this.AddToast();
      }
    },

    editPatronModal(index) {
      console.log(index);
      this.updatePatron(this.Form);
      this.HideModal();
      this.EditToast();
    },

    deletePatronModal() {
      this.deletePatron(this.SelectedPatron);
      this.HideModal();
    },

    HideModal() {
      this.$refs.modal.hide();
      this.FormReset();
    },
    FormReset() {
      this.Form = {
        first_name: "",
        middle_name: "",
        last_name: "",
        email: "",
      };
      this.SelectedPatron = "";
    },

    AddToast() {
      this.$toast.success(`Patron Added Successfully!`, {
        position: "top-right",
        timeout: 3000,
        closeOnClick: true,
        pauseOnFocusLoss: false,
        pauseOnHover: false,
        draggable: true,
        draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: "button",
        icon: true,
        rtl: false,
      });
    },
    EditToast() {
      this.$toast.success(`Patron Updated Successfully!`, {
        position: "top-right",
        timeout: 3000,
        closeOnClick: true,
        pauseOnFocusLoss: false,
        pauseOnHover: false,
        draggable: true,
        draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: "button",
        icon: true,
        rtl: false,
      });
    },
    ErrorToast() {
      this.$toast.error(`Error! Empty Input Field/s`, {
        position: "top-right",
        timeout: 3000,
        closeOnClick: true,
        pauseOnFocusLoss: false,
        pauseOnHover: false,
        draggable: true,
        draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: "button",
        icon: true,
        rtl: false,
      });
    },
  },

  created() {
    this.fetchPatron();
  },
  computed: {
    ...mapGetters(["AllPatrons"]),
    PatronModelFilter() {
      return this.AllPatrons.filter((Patron) => {
        return this.Search.toLowerCase()
          .split(" ")
          .every((v) => Patron.first_name.toLowerCase().includes(v));
      });
    },
  },
};
</script>
