/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: #99c24d;
  position: fixed;
  height: 105%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

/* Links on mouse-over */
.sidebar #choice:hover:not(.active) {
  background-color: gray;
  color: white;
}

#zxc{
  position: relative;
  top: -30px;
  left: 1175px;
}


/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.imag {
  width: 100px;
  height: auto;
}
#define {
  font-family: Calibiri;
	font-weight: bold;
	position: fixed;
	top: 5px;
	left: 260px;
	color: #99c24d;
}
hr.solid {
  border-top: 2px 
  solid #99c24d;
  position: fixed;
  top: 40px;
  width: 100%;
}

table {
  position: relative;
  width: 400px;
  top: 50px;
  left: 450px;
}

th{
  text-align: left;
}

table, th, td {
border: 2px solid #000;
border-collapse: collapse;;
}

th {
  padding: 10px;
}

td {
 padding-left: 50px;
 padding-right: 50px;
 padding-top: 20px;
 padding-bottom: 10px;

}

tr:nth-child(odd){
  background-color: #99C24D;
}

tr:nth-child(even){
  background-color: #99C24D;
}


#ta {
  line-height: 20px;
  width: 900px;
  position: relative;
  top: 100px;
  left: 350px;
}

#ta td{
width: -100px;
height: 10px;

}

#ta th {
padding: -10px;
padding-left: 50px;
}


/* Add a black background color to the top navigation bar */
.topnav {
  position: absolute;
  overflow: hidden;
  padding-left: 955px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
  font-size: 17px;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 3px;
  border: none;
  margin-top: 5px;
  margin-right: 100px;
  font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 120px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}


/* Add a black background color to the top navigation bar */
.topnav2 {
  position: absolute;
  overflow: hidden;
  padding-left: 1045px;
  top: 200px;
}

/* Style the links inside the navigation bar */
.topnav2 a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 17px;
}

/* Style the "active" element to highlight the current page */
.topnav2 a.active {
  background-color: #2196F3;
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav2 input[type=text] {
  float: right;
  padding: 3px;
  border: none;
  margin-top: 5px;
  margin-right: 100px;
  font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav2 a, .topnav2 input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 120px;
  }
  .topnav2 input[type=text] {
    border: 1px solid #ccc;
  }
}

.button1 {
  position: relative;
  padding-left: 450px;
  height: 1px;
}

.button2 {
  position: relative;
  padding-left: 350px;
  height: 1px;
  top: 60px;
}

#editbut2{
  position: relative;
  height: 10px;
  top: -25px;
  left: -70px;
  color: #494949;
}
#deletebut2 {
  position: relative;
  height: 10px;
  top: -5px;
  left: -50px;
  color: #494949;
}
#borrowbut2 {
  position: relative;
  height: 10px;
  top: 1px;
  left: -60px;
  color: #494949;
}
#returnbut2 {
  position: relative;
  height: 10px;
  bottom: 50px;
  top: -95px;
  left: -50px;
  color: #494949;
}
#deletebod{
  background-color: #FFFFFF;
}

#deletebut1 {
  position: relative;
  top: -5px;
  left: -48px;
  color: #494949;
}
#editbut1{
  position: relative;
  top: -10px;
  left: -50px;
  color: #494949;
}

#char {
position: relative;
Top: 50px;
Left: 350px;

}

#col {
  height: 100px;
  background-color: #494949;
}


  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    }
    
    /* Set a style for all buttons */
    button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    }
    
    button:hover {
    opacity: 0.8;
    }
    
    /* Extra styles for the cancel button */
    .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    }
    
    /* Center the image and position the close button */
    .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
    }
    
    img.avatar {
    width: 30%;
    border-radius: 50%;
    }
    
    .container {
    padding: 16px;
    }
    
    span.psw {
    float: right;
    padding-top: 16px;
    }
    
    /* The Modal (background) */
    .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
    }
    
    /* Modal Content/Box */
    .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    }
    
    /* The Close Button (x) */
    .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
    color: red;
    cursor: pointer;
    }
    
    /* Add Zoom Animation */
    .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
    }
    
    @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
    }
    
    @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
    }
    
    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
    }