:root {
	--primary: #111B54;
	--light: #ffffff;
	--grey: #efefef;
}

body {
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: var(--primary);
}

a:hover {
	text-decoration: none;
}

.bg-primary { background-color: var(--primary) !important; }
.bg-grey { background-color: var(--grey) !important; }


#sidebar-container {
  min-height: 100vh;
    width: 290px;
}

#sidebar-container .logo {
	padding: .875rem 1.25rem;
}

#sidebar-container .menu {
	width: 18rem;
}

#sidebar-container .create{
  margin-top: 10px;
}

.sidebar{

	background: #19294E;
	margin-top: 0px;
	padding-top: 10px;
	position: fixed;
	left: 0;
	width: 250px;
	height: 100%;
}

.sidebar a{

	color: #fff;
	display: block;
	width: 100%;
	text-decoration: none;
	padding-left: 40px;
	box-sizing: border-box;
	transition: 0.5s;
	transition-property: background;
}

.sidebar i{

	padding-right:10px;
}

label #sidebar_btn{

	z-index: 1;
	color: #fff;
	position: fixed;
	cursor: pointer;
	left: 500px;
	font-size: 20px;
	margin: 1px 0;
	transition: 0.5s;
	transition-property: color;
}	

label #sidebar_btn:hover{

	color: #19B3D3;
}

.logo{
  margin-left: -260px;
  }

.active {
	background-color: #080927;
}

.btn-logout {
	right: 20px;
	background: #080927;
	border: none;
	color: white;
}

.btn-logout:hover {
  background: #19294E;
  transition: 0.5s background;
}

#content {
	overflow-y: auto;
	height: 100vh;
	padding-bottom: 5rem;
}

.navbar {
	height: 60px;
}

.table-wrapper {
	background: #ffffff;
	padding: 20px 25px ;
	margin: 30px 0;
	border-radius: 1px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.247);
}

.container{
  margin-left: 240px;
}


.dash-container{
  margin-left: 350px;
  margin-top: 75px;
}