.navbar {
  background-color: #020224;
  color: white;
  height: 50px;
  width: auto;
}
.navbar p {
  margin-left: 100px;
}
.nav a {
  float: right;
  margin-right: 50px;
  font-family: monospace;
  font-size: 20px;
  padding-bottom: 10px;
  color: white;
}
.brand {
  color: white;
  font-size: 20px;
  font-family: monospace;
}
.container-fluid {
  background-color: #191937;
  width: 280px !important;
  height: 100vh;
  float: left;
}
.container-fluid a {
  color: white;
  font-size: 20px;
  font-family: monospace;
}
.container {
  margin-top: 20px;
  margin-left: 300px !important;
  border: #020224 !important;
}
.container input,
a {
  font-size: 17 px;
  font-weight: bold;
}
.add {
  font-size: 17 px;
  color: #008eff !important;
  font-weight: bold;
  cursor: pointer;
}
.table th,
td {
  border: 1px solid;
  padding-right: 190px;
}
.table th {
  background-color: grey;
}
.table td {
  background-color: #d9d9d9;
}
.table {
  /* display: block; */
  height: 500px;
  width: 100% !important;
  overflow-y: scroll;
}
@media (max-width: 767px) {
  .sidebar-nav-fixed {
    width: auto;
  }
}

@media (max-width: 979px) {
  .sidebar-nav-fixed {
    position: static;
    width: auto;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  width: 100% !important;
}
.mod {
  margin-top: 10px;
  margin-right: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal-content input,
select {
  width: 300px;
}
.modal label,
p {
  font-weight: bold;
}
.modal-content button {
  width: 150px;
  margin-left: 250px;
  font-weight: bold;
}
i {
  color: white;
  size: 20px;
}
.myTable th {
  width: 600px;
  height: 500px;
  padding-left: 90px;
}
