<template>
  <form class="modal-content animate" @submit.prevent="submit">
    <div class="imgcontainer">
      
      <img src="@/assets/img/img_avatar2.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required  v-model="form.email">

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required v-model="form.password">
        
      <button type="submit"  @click="$v.form.$touch">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
     
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</template>

<script>
// @ is an alias to /src
// import { ValidationMessageMixin } from "@/mixin/ValidationMessageMixin";
import { required } from "vuelidate/lib/validators";
import { mapActions } from "vuex";
export default {
//   mixins: [ValidationMessageMixin],
  name: "SignIn",
  components: {},
  data() {
    return {
      form: {
        email: "",
        password: "",
      },
      errorMessage: [],
    };
  },
  methods: {
    ...mapActions(["signIn"]),
    submit() {
      this.signIn(this.form)
        .then(() => {
          this.$router.push({
            name: "dashboard",
          });
          this.form.email = "";
          this.form.password = "";
         
        })
        .catch(() => {
          this.form.email = "";
          this.form.password = "";
          this.$toast.error("Please provide Valid credential");
        });
    },
  },

  validations: {
    form: {
      email: {
        required,
      },
      password: {
        required,
      },
    },
  },
};
</script>

<style>
@import "~@/assets/css/style.css";
</style>
