<template>
    <div>
        <form  @submit.prevent="submit">
            Username: <input type="text" name="name"  v-model="form.username"><br>
            Password: <input type="password" name="password"  v-model="form.password"><br>
            <input type="submit">
        </form>  
    </div>
</template>
<script>
import { mapActions } from "vuex";
export default {
  data() {
    return {
      form: {
        username: "",
        password: "",
      },
    };
  },
  methods: {
    ...mapActions(["login"]),
      submit() {
      this.login(this.form)
        .then(() => {
          this.$router.push({
            name: "Dashboard",
          });
          this.form.username = "";
          this.form.password = "";
         
        })
        .catch(() => {
          this.form.username = "";
          this.form.password = "";
        });
    },
  },


};
</script>
