<template>
  <div id="app">
    
		<div class="dash-container">
			<div class="row mt-6">
				<div class="col-lg-6">
					<div class="card rounded-8">
						<div class="card-header bg-light">
							<h6 class="font-weight-bold mb-o">Borrowed and Returned Books</h6>
						</div>
						<div class="card-body">
							<canvas id="barChart" width="320" height="120"></canvas>
						</div>
					</div>
				</div>
				<div class="col-lg-4 ml-12">
					<div class="card rounded-8">
						<div class="card-header bg-light">
							<h6 class="font-weight-bold mb-o">Popular Book Genre</h6>
						</div>
						<div class="card-body">
							<canvas id="myPieChart" width="450" height="250"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
	
  </div>
</template>

<script>
import Chart from "chart.js";
export default {
  name: "App",
  components: {

  },
  mounted: function() {
    var ctx = document.getElementById('barChart').getContext('2d');
			new Chart(ctx, {

            type: 'bar',
                data: {
                    labels: ['January', 'February', 'March', 'April', 'May'],
                    datasets: [{
                        data: [56, 24, 18, 10, 5],
                        label: 'Returned',
                        backgroundColor:'#004586',
                        maxBarThickness: 40,
                        borderColor: '#004586',
                        hoverBackgroundColor: '#0A1E32'		            
                    },

                    {
                        data: [54, 35, 22, 20, 9],
                        label: 'Returned',
                        backgroundColor:'#FF420E',
                        maxBarThickness: 40,
                        borderColor: '#FF420E',
                        hoverBackgroundColor: '#A8300F'		            
                }]
                },

                    options: {
                    legend: {
                        position: 'bottom',
                        labels: {
                            boxWidth: 10,
                    }
                    }
                }
            });

    var ctx1 = document.getElementById('myPieChart').getContext('2d');
			new Chart(ctx1, {
				type: 'pie',

				data: {
					labels: ['Non-Fiction', 'Horror', 'Mystery', 'Fiction'],
					datasets: [{
						data: [50, 110, 70, 130],
						backgroundColor: ['#64B5F6', '#1976D2', '#EF6C00', '#FFD54F'],					
					}]
					
				},
				options: {
                    legend: {
                        position: 'right',
                        labels: {
                            boxWidth: 10,
                        }
                    }
                }
			});
  },
};
</script>

