<template>
    <div>
            <NavBar />
    <SideBar />
    <router-view> </router-view>
    </div>
</template>
<script>
import NavBar from "../components/Navbar";
import SideBar from "../components/Sidebar";
export default {
  components: {
    NavBar,
    SideBar,
  },
}
</script>