<template>
  <div id="app">
    <NavBar />
    <SideBar />

    <router-view> </router-view>
  </div>
</template>
<script>
import NavBar from "./components/include/Navbar";
import SideBar from "./components/include/Sidebar";
export default {
  name: "App",
  components: {
    NavBar,
    SideBar,
  },
};
</script>
<style>
@import "./assets/css/style.css";
</style>
