<template>
    <div>

<!-- Table -->

<div class="container_table">
  <div class="table-wrapper">
      <div class="table-title">

        <form class="form-inline">
                <i class="fas fa-search" aria-hidden="true"></i>
                <input class="form-control form-control-sm ml-3 w-30" type="text" placeholder="Search" id="search"
                v-model="Search"
                  aria-label="Search"/>
              </form>

          <div class="row">
              <div class="col-sm-6">
<h2>Manage <b>Books</b></h2>
</div>

<div class="col-sm-6">
   <b-button href="" class="btn btn-success" v-b-modal.addBookModal @click="$bvModal.show('addBookModal')"><i class="fas fa-book-open"></i>Add Book</b-button>
</div>
</div>
</div>
<table class="table table-striped table-hover">
<thead>
<tr>
<th></th>
<th>Name</th>
<th>Author</th>
<th>Copies Available</th>
<th>Category</th>
<th>Date Registered</th>
<th>Actions</th>
</tr>
</thead>
 <tbody>
 <tr v-for="Book in BookModelFilter" :key="Book.id">
                  <td>{{ index }}</td>
                  <td>
                    {{ Book.name }}
                  </td>
                  <td>
                    {{ Book.author }}
                  </td>
                  <td>
                    {{ Book.copies }}
                  </td>
                  <td>
                    {{ Book.category_id }}
                  </td>
                  <td>
                    {{ Book.created_at }}
                  </td>
                  <td class="text-center">

<a href="#" class="text-warning"><i class="fa fa-edit fa-lg mr-4" aria-hidden="true" @click.prevent="Form = Book;" v-b-modal.editBookModal></i></a>
<a href="#" @click="SelectedBook = Book" v-b-modal.deleteBookModal class="text-danger"><i class="fa fa-trash-alt fa-lg mr-4" aria-hidden="true"></i></a>
                  
                  </td>
                </tr>
       </tbody>
 </table>
 <!-- Pagination -->
<div class="clearfix">
          <ul class="pagination">
              <li class="page-item disabled"><a href="#">Previous</a></li>
              <li class="page-item active"><a href="#" class="page-link">1</a></li>
              <li class="page-item"><a href="#" class="page-link">2</a></li>
              <li class="page-item"><a href="#" class="page-link">3</a></li>
              <li class="page-item"><a href="#" class="page-link">4</a></li>
              <li class="page-item"><a href="#" class="page-link">5</a></li>
              <li class="page-item"><a href="#" class="page-link">Next</a></li>
          </ul>
      </div>
  </div>
</div>

<!-- ADD Modal -->
<b-modal id="addBookModal" title="Add Book" centered modal-header
          no-close-on-backdrop
          no-close-on-esc
          hide-header-close
          ref="modal">
          <form>
            <b-form-group>
              <label for="BookName" class="req">Name:</label>
              <b-form-input id="BookName" required placeholder="Input Book Name" v-model="Form.name"></b-form-input>

              <label for="BookAuthor" class="mt-3 req">Author:</label>
              <b-form-input id="BookAuthor" required placeholder="Input Book Author" v-model="Form.author"></b-form-input>

              <label for="BookCopies" class="mt-3 req">Copies:</label>
              <b-form-input id="BookCopies" required placeholder="Input Number of Copies" v-model="Form.copies"></b-form-input>

              <label for="BookCategory" class="mt-3 req">Category:</label>
              <b-form-select v-model="Form.category_id">
                <b-form-select-option value="Computer Hardware">Computer Hardware</b-form-select-option>
                <b-form-select-option value="Computer Ethics">Computer Ethics</b-form-select-option>
                <b-form-select-option value="Computer Science">Computer Science</b-form-select-option>
                <b-form-select-option value="History">History</b-form-select-option>
              </b-form-select>
            </b-form-group>
          </form>
          <template #modal-footer class="float-right">
            <div class="w-100 float-right">
              <button
                type="button"
                class="btn btn-outline-danger mr-3"
                data-dismiss="modal"
                block
                @click="$bvModal.hide('addBookModal')">
               <i class="fas fa-times-circle mr-2"></i>Cancel
              </button>

               <button type="button" class="btn btn-outline-success" @click="addBookModal">
                <i class="fa fa-plus-circle mr-2"></i>Add
              </button>
            </div>
          </template>
        </b-modal>


<!-- EDIT Modal -->
<b-modal id="editBookModal" title="Edit Book" centered modal-header
          no-close-on-backdrop
          no-close-on-esc
          hide-header-close
          ref="modal">
          <form>
            <b-form-group>
              <label for="BookName" class="req">Name:</label>
              <b-form-input id="BookName" required placeholder="Input Book Name" v-model="Form.name"></b-form-input>

              <label for="BookAuthor" class="mt-3 req">Author:</label>
              <b-form-input id="BookAuthor" required placeholder="Input Book Author" v-model="Form.author"></b-form-input>

              <label for="BookCopies" class="mt-3 req">Copies:</label>
              <b-form-input id="BookCopies" required placeholder="Input Number of Copies" v-model="Form.copies"></b-form-input>

              <label for="BookCategory" class="mt-3 req">Category:</label>
              <b-form-select v-model="Form.category_id">
                <b-form-select-option value="Computer Hardware">Computer Hardware</b-form-select-option>
                <b-form-select-option value="Computer Ethics">Computer Ethics</b-form-select-option>
                <b-form-select-option value="Computer Science">Computer Science</b-form-select-option>
                <b-form-select-option value="History">History</b-form-select-option>
              </b-form-select>
            </b-form-group>
          </form>
          <template #modal-footer class="float-right">
            <div class="w-100 float-right">
              <button
                type="button"
                class="btn btn-outline-danger mr-3"
                data-dismiss="modal"
                block
                @click="$bvModal.hide('editBookModal')">
               <i class="fas fa-times-circle mr-2"></i>Cancel
              </button>

               <button type="button" class="btn btn-outline-success" @click="editBookModal(SelectedBook)">
                <i class="fas fa-check-circle mr-2"></i>Save
              </button>
            </div>
          </template>
        </b-modal>


<!-- DELETE Modal -->
<b-modal id="deleteBookModal" title="Delete Book" centered modal-header
          no-close-on-backdrop
          no-close-on-esc
          hide-header-close
          ref="modal">
          <p>Are you sure you want to delete this Record?</p>
          <p class="text-warning"><small>This action cannot be undone.</small></p>
          <template #modal-footer class="float-right">
            <div class="w-100 float-right">
              <button
                type="button"
                class="btn btn-outline-info mr-3"
                block
                @click="$bvModal.hide('deleteBookModal')">
                <i class="fas fa-times-circle mr-2"></i>Close</button>
              <button
                type="button"
                class="btn btn-outline-danger"
                data-dismiss="modal"
                block
                @click="deleteBookModal(SelectedBook)">
                <i class="fa fa-trash-alt mr-2"></i>Delete</button>
            </div>
          </template>
        </b-modal>

    </div>
</template>



<script>
import { mapGetters, mapActions } from "vuex";
export default {


 data() {
    return {
      Form: {
        name: "",
        author: "",
        copies: "",
        category_id: "",
      },
      BookModel: [],
      SelectedBook: "",
      Search: "",
    };
  },
  methods: {
       ...mapActions(["fetchBook", "addBook", "updateBook", "deleteBook"]),
    addBookModal() {
      if (
        this.Form.name == "" ||
        this.Form.author == "" ||
        this.Form.copies == "" ||
        this.Form.category_id == ""
      ) {
        this.ErrorToast();
      } else {
      this.addBook(this.Form);
      console.log(this.form);
      this.HideModal();
      this.AddToast();
      }
    },


    editBookModal(index) {
      console.log(index);
      this.updateBook(this.Form);
      this.HideModal();
    },
    ToBeUpdated(index) {
      this.SelectedBook = index;
      this.Form.name = this.SelectedBook.name;
      this.Form.author = this.SelectedBook.author;
      this.Form.copies = this.SelectedBook.copies;
      this.Form.category_id = this.SelectedBook.category_id;
    },
    deleteBookModal() {
      this.deleteBook(this.SelectedBook);
      this.HideModal();
    },
    HideModal() {
      this.$refs.modal.hide();
      this.FormReset();
    },
    FormReset() {
      this.Form = {
        name: "",
        author: "",
        copies: "",
        category_id: "",
      };
      this.SelectedBook = "";
    },

  AddToast() {
      this.$toast.success(`Book Added Successfully!`, {
        position: "top-right",
        timeout: 3000,
        closeOnClick: true,
        pauseOnFocusLoss: false,
        pauseOnHover: false,
        draggable: true,
        draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: "button",
        icon: true,
        rtl: false,
      });
    },
    EditToast() {
      this.$toast.success(`Book Updated Successfully!`, {
        position: "top-right",
        timeout: 3000,
        closeOnClick: true,
        pauseOnFocusLoss: false,
        pauseOnHover: false,
        draggable: true,
        draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: "button",
        icon: true,
        rtl: false,
      });
    },
    ErrorToast() {
      this.$toast.error(`Error! Empty Input Field/s`, {
        position: "top-right",
        timeout: 3000,
        closeOnClick: true,
        pauseOnFocusLoss: false,
        pauseOnHover: false,
        draggable: true,
        draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: "button",
        icon: true,
        rtl: false,
      });
    },
  },

   created() {
    this.fetchBook();
  },
  computed: {
      ...mapGetters(["AllBooks"]),
    BookModelFilter() {
      return this.BookModel.data.filter((Book) => {
        return this.Search.toLowerCase()
          .split(" ")
          .every((v) => Book.name.toLowerCase().includes(v));
      });
    },
  },
};
</script>



<style scoped></style>