<template>
  <div>

    <canvas id="myChart"></canvas>
    <canvas id="myChart_d"></canvas>
  </div>
</template>

<script>
import Chart from "chart.js";
export default {
 
  mounted: function () {
    // Bar Chart
    let myChart = document.getElementById("myChart").getContext("2d");
Chart.defaults.global.defaultFontFamliy = 'Consolas';
Chart.defaults.global.defaultFontSize = 18;
Chart.defaults.global.defaultFontColor = '#black';
    new Chart(myChart, {
      type: "bar",
      data: {
        labels: [
          "January",
          "February",
          "March",
          "April",
          "May",
          "June",
          "July",
          "August",
        ],
        datasets: [
          {
            label: "Borrowed",
            data: [65, 150, 111, 222, 58, 30, 355, 200],
            backgroundColor: [
              "black",
              "black",
              "black",
              "black",
              "black",
              "black",
              "black",
              "black",
            ],
            borderWidth: 1,
            borderColor: "#777",
            hoverBorderWidth: 3,
            hoverBorderColor: "#fff",
          },

          {
            label: "Returned",
            data: [278, 222, 111, 300, 28, 90, 49, 160],
            backgroundColor: [
              "orange",
              "orange",
              "orange",
              "orange",
              "orange",
              "orange",
              "orange",
              "orange",
            ],
            borderWidth: 1,
            borderColor: "#777",
            hoverBorderWidth: 3,
            hoverBorderColor: "#000",
          },
        ],
      },

      options: {
        title: {
          display: true,
          text: "Borrowed and Returned books",
          fontSize: 25,
        },
        legend: {
          position: "top",
        },
        layout: {
          padding: {
            left: 250,
            right: 210  ,
            bottom: 100,
            top: 20,
          },
        },
      },
    });


// Doughnut Chart
    let myChart_d = document.getElementById('myChart_d').getContext('2d');

Chart.defaults.global.defaultFontFamliy = 'Consolas';
Chart.defaults.global.defaultFontSize = 18;
Chart.defaults.global.defaultFontColor = '#black';

new Chart(myChart_d, {
type: 'doughnut',
data:{
  labels:['Computer Hardware', 'Computer Ethics', 'Comupter Science', 'History'],
  datasets:[{
    label:'Borrowed',
    data:[688, 528, 400, 378,],
    backgroundColor:[
       'white',     
       'black', 
       'orange',
       'gray'
          
        
    ],
    borderWidth:2,
    borderColor: '#777',
    hoverBorderWidth:3,
    hoverBorderColor: '#fff'
  }],

},

options:{
    title:{
    display:true,
    text:'Popular Book Genre',
    fontSize:25
},
legend:{
    position:'top'
},
layout:{
    padding:{
        left:50,
        right:0,
        bottom:40,
        top:0,
    }
}
}
});
  },
};
</script>



<style scoped></style>