<template>
  <div id="app">
    <NavBar />
    <router-view> </router-view>
  </div>
</template>
<script>
import NavBar from './components/navigation/NavBar'
export default {
  components: {
    NavBar,
  },
}
</script>
