<template>
  <div class="wrapper">
    <div class="sidebar">
      <center>
        <img src="../assets/img/profile.jpg" class="profile_image" alt="" />
        <h4>USER</h4>
      </center>
      <ul>
        <li>
          <router-link to="/"
            ><i class="fas fa-desktop" aria-hidden="true"></i
            >DASHBOARD</router-link
          >
        </li>
        <li>
          <router-link to="/Book"
            ><i class="fas fa-book" aria-hidden="true"></i>BOOKS</router-link
          >
        </li>
        <li>
          <router-link to="/Patron"
            ><i class="fas fa-address-book" aria-hidden="true"></i
            >PATRON</router-link
          >
        </li>
        <li>
          <router-link to="/Settings"
            ><i class="fas fa-cogs" aria-hidden="true"></i>SETTINGS</router-link
          >
        </li>
      </ul>
    </div>
  </div>
  <!-- <div class="contents">
      <div class="info"></div>
    </div>

    <div
      class="chartContainer"
      style="position: fixed; height: 40vh; width: 50vw"
    >
      <canvas id="myChart" style="margin-top: 80px; margin-left:50px"></canvas>
    </div>

    <div
      class="chartContainer"
      style="position: fixed; height: 40vh; width: 50vw; margin-left:800px"
    >
      <canvas
        id="myChart2"
        style="margin-top: 80px; margin-left:100px"
      ></canvas>
    </div>
  </div> -->
</template>
<script>
export default {
  props: {
    Active: String,
  },
};
</script>
<style>
@import "../assets/css/style.css";
</style>
