<template>
  <div id="app">
    <div class="main-content">
      <div class="container pt-4">
        <div class="row">
          <div class="col-md-12">
            <b-button href="" class="btn btn-outline-add mt-2" v-b-modal.AddBook
              ><i class="fa fa-plus-circle mr-2"></i>Add Book</b-button
            >
            <div class="float-left">
              <input
                placeholder="Search Item here"
                type="text"
                class="line-search-bar"
                name="search"
                id="search"
                v-model="Search"
              />
              <i class="fa fa-search fa-lg pl-2" aria-hidden="true"></i>
            </div>
            <table class="table table-hover table-bordered shadow mt-5">
              <thead class="table-active">
                <tr>
                  <th><i class="fa fa-fw fa-sort mr-2"></i>Title</th>
                  <th><i class="fa fa-fw fa-sort mr-2"></i>Author</th>
                  <th><i class="fa fa-fw fa-sort mr-2"></i>Copies</th>
                  <th><i class="fa fa-fw fa-sort mr-2"></i>Genre</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="Book in PatronModelFilter" :key="Book.id">
                  <td>
                    {{ Book.name }}
                  </td>
                  <td>
                    {{ Book.author }}
                  </td>
                  <td>
                    {{ Book.copies }}
                  </td>
                  <td>
                    {{ Book.category_id }}
                  </td>
                  <td class="text-center">
                    <b-button type="button" class="btn btn-success"
                      ><i
                        class="fas fa-edit"
                        aria-hidden="true"
                        @click="Form = Book"
                        v-b-modal.UpdateBook
                      ></i>
                    </b-button>
                    <b-button type="button" class="btn btn-danger">
                      <i
                        class="far fa-trash-alt"
                        aria-hidden="true"
                        @click="SelectedPatron = Book"
                        v-b-modal.DeleteModal
                      ></i>
                    </b-button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- Add Modal -->
        <b-modal
          id="AddBook"
          title="Add Book"
          centered
          modal-header
          no-close-on-backdrop
          no-close-on-esc
          hide-header-close
          ref="modal"
        >
          <form>
            <b-form-group>
              <label for="BookName" class="mt-3">Book Name:</label>
              <b-form-input
                id="BookName"
                placeholder="Book Name "
                v-model="Form.name"
              ></b-form-input>

              <label for="Author" class="mt-3">Author:</label>
              <b-form-input
                id="Author"
                placeholder="Author"
                v-model="Form.author"
              ></b-form-input>

              <label for="BookCopies" class="mt-3">Copies</label>
              <b-form-input
                id="Copies"
                placeholder="Book Name "
                v-model="Form.copies"
              >
              </b-form-input>

              <label for="Genre" class="mt-3">Category</label>
              <b-form-select id="Genre" v-model="Form.category_id">
                <b-form-select-option
                  :value="Category.id"
                  v-for="Category in AllCategories"
                  :key="Category.id"
                  >{{ Category.category }}</b-form-select-option
                >
              </b-form-select>
            </b-form-group>
          </form>

          <template #modal-footer class="float-right">
            <div class="w-100 float-right">
              <button
                type="button"
                class="btn btn-outline-add mr-2"
                @click="AddBook"
              >
                <i class="fa fa-plus-circle mr-2"></i>Add Book
              </button>
              <button
                type="button"
                class="btn btn-outline-add"
                data-dismiss="modal"
                block
                @click="HideModal"
              >
                <i class="fa fa-arrow-circle-left mr-2"></i>Close
              </button>
            </div>
          </template>
        </b-modal>

        <!-- UpdatePatron -->
        <b-modal
          id="UpdateBook"
          title="Update Book"
          centered
          modal-header
          no-close-on-backdrop
          no-close-on-esc
          hide-header-close
          ref="modal"
        >
          <form>
            <b-form-group>
              <label for="BookName" class="mt-3">Book Name:</label>
              <b-form-input
                id="BookName"
                placeholder="Book Name "
                v-model="Form.name"
              ></b-form-input>

              <label for="Author" class="mt-3">Author:</label>
              <b-form-input
                id="Author"
                placeholder="Author"
                v-model="Form.author"
              ></b-form-input>

              <label for="BookCopies" class="mt-3">Copies</label>
              <b-form-input
                id="Copies"
                placeholder="Book Name "
                v-model="Form.copies"
              >
              </b-form-input>

              <label for="Genre" class="mt-3">Category</label>
              <b-form-select id="Genre" v-model="Form.category_id">
                <b-form-select-option
                  :value="Category.id"
                  v-for="Category in AllCategories"
                  :key="Category.id"
                  >{{ Category.category }}</b-form-select-option
                >
              </b-form-select>
            </b-form-group>
          </form>
          <template #modal-footer class="float-right">
            <div class="w-100 float-right">
              <button
                type="button"
                class="btn btn-outline-add mr-2"
                @click="UpdateBook()"
              >
                <i class="fa fa-plus-circle mr-2"></i>Update Book
              </button>
              <button
                type="button"
                class="btn btn-outline-add"
                data-dismiss="modal"
                block
                @click="HideModal"
              >
                <i class="fa fa-arrow-circle-left mr-2"></i>Close
              </button>
            </div>
          </template>
        </b-modal>

        <!-- DeleteModal -->
        <b-modal id="DeleteModal" title="Confirm Delete" centered ref="modal">
          <p>Are you sure you want to delete this?</p>
          <template #modal-footer class="float-right">
            <div class="w-100 float-right">
              <button
                type="button"
                class="btn secondary mr-2"
                block
                @click="$bvModal.hide('DeleteModal')"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-danger"
                data-dismiss="modal"
                block
                @click="DeleteBook()"
              >
                Yes
              </button>
            </div>
          </template>
        </b-modal>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
export default {
  data() {
    return {
      Form: {
        name: "",
        author: "",
        copies: "",
        category_id: "",
      },
      PatronModel: [],
      SelectedPatron: "",
      Search: "",
    };
  },
  methods: {
    ...mapActions([
      "fetchCategory",
      "fetchBooks",
      "addBooks",
      "updateBooks",
      "removeBooks",
    ]),
    AddBook() {
      if (this.Form.BookName == "" || this.Form.Author == "") {
        this.ErrorToast();
      } else {
        this.addBooks(this.Form);
        console.log(this.Form);
        this.HideModal();
        this.AddToast();
      }
    },
    UpdateBook(index) {
      console.log(index);
      this.updateBooks(this.Form);

      this.HideModal();
    },
    ToBeUpdated(index) {
      this.SelectedPatron = index;
      this.Form.BookName = this.PatronModel[index].BookName;
      this.Form.Author = this.PatronModel[index].Author;
      this.Form.Genre = this.PatronModel[index].Genre;
    },
    DeleteBook() {
      this.removeBooks(this.SelectedPatron);

      this.HideModal();
    },
    HideModal() {
      this.$refs.modal.hide();
      this.FormReset();
    },
    FormReset() {
      (this.Form = {
        name: "",
        author: "",
        copies: "",
        category_id: "",
      }),
        (this.SelectedPatron = "");
    },
    AddToast() {
      this.$toast.success(`Successfully Added`, {
        position: "top-center",
        timeout: 3000,
        closeOnClick: true,
        pauseOnFocusLoss: false,
        pauseOnHover: false,
        draggable: true,
        draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: "button",
        icon: true,
        rtl: false,
      });
    },
    ErrorToast() {
      this.$toast.error(`Please Fill the Data`, {
        position: "top-center",
        timeout: 3000,
        closeOnClick: true,
        pauseOnFocusLoss: false,
        pauseOnHover: false,
        draggable: true,
        draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: "button",
        icon: true,
        rtl: false,
      });
    },
  },
  created() {
    this.fetchBooks();
    this.fetchCategory();
  },
  computed: {
    ...mapGetters(["AllBooks", "AllCategories"]),
    PatronModelFilter() {
      return this.AllBooks.filter((Book) => {
        return this.Search.toLowerCase()
          .split(" ")
          .every((v) => Book.name.toLowerCase().includes(v));
      });
    },
  },
};
</script>
