<template>
  <div>
    <div class="main-content">
      <div class="container pt-4">
        <div class="row mt-5">
          <div class="col-lg-6 col-md-12">
            <div class="card shadow">
              <div class="card-body">
                <h6 class="text-big">Popular Book Genre</h6>
                <hr />
              </div>
              <div class="card-body">
               <Barchart />
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card shadow">
              <div class="card-body">
                <h6 class="text-big">Popular Book Genre</h6>
                <hr />
              </div>
              <div class="card-body">
                <Doughnut />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Barchart from "../components/dboard_charts/Barchart";
import Doughnut from "../components/dboard_charts/Doughnut";
export default {
  components: {
    Barchart,
    Doughnut,
  },
};
</script>
<style>
@import "../assets/css/style.css";
</style>
