<template>
  <div>
    <Header />
    <SideBar />

    <div class="main-content">
      <router-view> </router-view>
    </div>
  </div>
</template>
<script>
import Header from "../components/Header";
import SideBar from "../components/Sidebar";
export default {
  name: "App",
  components: {
    Header,
    SideBar,
  },
};
</script>

