<template>
  <div id="app">
    <div class="main-content">
      <div class="container pt-4">
        <div class="row">
          <div class="col-md-12">
            <b-button
              href=""
              class="btn btn-outline-add mt-2"
              v-b-modal.AddPatron
              ><i class="fa fa-plus-circle mr-2"></i>Add Patrons</b-button
            >
            <div class="float-right">
              <input
                placeholder="Search Item here"
                type="text"
                class="line-search-bar"
                name="search"
                id="search"
                v-model="Search"
              />
              <i class="fa fa-search fa-lg pl-2" aria-hidden="true"></i>
            </div>
            <table class="table table-hover table-bordered shadow mt-5">
              <thead class="table-active">
                <tr>
                  <th><i class="fa fa-fw fa-sort mr-2"></i>Name</th>
                  <th><i class="fa fa-fw fa-sort mr-2"></i>Email Address</th>
                  <th><i class="fa fa-fw fa-sort mr-2"></i>Date Registered</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="Patron in PatronModelFilter" :key="Patron.id">
                  <td>
                    {{ Patron.first_name + " " + Patron.last_name }}
                  </td>
                  <td>
                    {{ Patron.email }}
                  </td>
                  <td>
                    {{ Patron.created_at }}
                  </td>
                  <td class="text-center">
                    <b-button type="button" class="btn btn-success"
                      ><i
                        class="fas fa-edit"
                        aria-hidden="true"
                        @click="Form = Patron"
                        v-b-modal.UpdatePatron
                      ></i>
                    </b-button>
                    <b-button type="button" class="btn btn-danger">
                      <i
                        class="far fa-trash-alt"
                        aria-hidden="true"
                        @click="SelectedPatron = Patron"
                        v-b-modal.DeleteModal
                      ></i>
                    </b-button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- Add Modal -->
        <b-modal
          id="AddPatron"
          title="Add Patron"
          centered
          modal-header
          no-close-on-backdrop
          no-close-on-esc
          hide-header-close
          ref="modal"
        >
          <form>
            <b-form-group>
              <label for="PatronFirstName" class="req">First Name:</label>
              <b-form-input
                id="PatronFirstName"
                placeholder="Input First Name "
                v-model="Form.first_name"
              ></b-form-input>

              <label for="PatronMiddleName" class="mt-3">Middle Name:</label>
              <b-form-input
                id="PatronMiddleName"
                placeholder="Input Middle Name "
                v-model="Form.middle_name"
              ></b-form-input>

              <label for="PatronLastName" class="mt-3 req">Last Name:</label>
              <b-form-input
                id="PatronLastName"
                placeholder="Input Last Name"
                v-model="Form.last_name"
              ></b-form-input>

              <label for="PatronEmail" class="mt-3 req">Email Address:</label>
              <b-form-input
                id="PatronEmail"
                placeholder="Input Email Address"
                v-model="Form.email"
              ></b-form-input>
            </b-form-group>
          </form>
          <template #modal-footer class="float-right">
            <div class="w-100 float-right">
              <button
                type="button"
                class="btn btn-outline-add mr-2"
                @click="AddPatron"
              >
                <i class="fa fa-plus-circle mr-2"></i>Add Patron
              </button>
              <button
                type="button"
                class="btn btn-outline-add"
                data-dismiss="modal"
                block
                @click="HideModal"
              >
                <i class="fa fa-arrow-circle-left mr-2"></i>Close
              </button>
            </div>
          </template>
        </b-modal>

        <!-- UpdatePatron -->
        <b-modal
          id="UpdatePatron"
          title="Update Patron"
          centered
          modal-header
          no-close-on-backdrop
          no-close-on-esc
          hide-header-close
          ref="modal"
        >
          <form>
            <b-form-group>
              <label for="PatronFirstName" class="req">First Name:</label>
              <b-form-input
                id="PatronFirstName"
                placeholder="Input First Name "
                v-model="Form.first_name"
              ></b-form-input>

              <label for="PatronMiddleName" class="mt-3">Middle Name:</label>
              <b-form-input
                id="PatronMiddleName"
                placeholder="Input Middle Name "
                v-model="Form.middle_name"
              ></b-form-input>

              <label for="PatronLastName" class="mt-3 req">Last Name:</label>
              <b-form-input
                id="PatronLastName"
                placeholder="Input Last Name"
                v-model="Form.last_name"
              ></b-form-input>

              <label for="PatronEmail" class="mt-3 req">Email Address:</label>
              <b-form-input
                id="PatronEmail"
                placeholder="Input Email Address"
                v-model="Form.email"
              ></b-form-input>
            </b-form-group>
          </form>
          <template #modal-footer class="float-right">
            <div class="w-100 float-right">
              <button
                type="button"
                class="btn btn-outline-add mr-2"
                @click="UpdatePatron()"
              >
                <i class="fa fa-plus-circle mr-2"></i>Update Patron
              </button>
              <button
                type="button"
                class="btn btn-outline-add"
                data-dismiss="modal"
                block
                v-b-modal.DeleteModal
              >
                <i class="fa fa-arrow-circle-left mr-2"></i>Close
              </button>
            </div>
          </template>
        </b-modal>

        <!-- DeleteModal -->
        <b-modal id="DeleteModal" title="Confirm Delete" centered ref="modal">
          <p>Are you sure you want to delete this?</p>
          <template #modal-footer class="float-right">
            <div class="w-100 float-right">
              <button
                type="button"
                class="btn secondary mr-2"
                block
                @click="$bvModal.hide('DeleteModal')"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-danger"
                data-dismiss="modal"
                block
                @click="DeletePatron()"
              >
                Yes
              </button>
            </div>
          </template>
        </b-modal>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
export default {
  data() {
    return {
      Form: {
        first_name: "",
        middle_name: "",
        last_name: "",
        email: "",
      },
      SelectedPatron: "",
      Search: "",
    };
  },
  methods: {
    ...mapActions(["fetchPatron", "addPatron", "updatePatron", "removePatron"]),
    AddPatron() {
      if (
        this.Form.first_name == "" ||
        this.Form.middle_name == "" ||
        this.Form.last_name == "" ||
        this.Form.email == ""
      ) {
        this.ErrorToast();
      } else {
        this.addPatron(this.Form);
        console.log(this.form);
        this.HideModal();
        this.AddToast();
      }
    },
    UpdatePatron() {
      if (
        this.Form.first_name == "" ||
        this.Form.middle_name == "" ||
        this.Form.last_name == "" ||
        this.Form.email == ""
      ) {
        this.ErrorToast();
      } else {
        this.updatePatron(this.Form);
        console.log(this.form);
        this.HideModal();
        this.AddToast();
      }
    },

    DeletePatron() {
      this.removePatron(this.SelectedPatron);

      this.HideModal();
    },
    HideModal() {
      this.$refs.modal.hide();
      this.FormReset();
    },
    FormReset() {
      this.Form = {
        first_name: "",
        middle_name: "",
        last_name: "",
        email: "",
      };

      this.SelectedPatron = "";
    },
    AddToast() {
      this.$toast.success(`Successfully Added`, {
        position: "top-center",
        timeout: 3000,
        closeOnClick: true,
        pauseOnFocusLoss: false,
        pauseOnHover: false,
        draggable: true,
        draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: "button",
        icon: true,
        rtl: false,
      });
    },
    ErrorToast() {
      this.$toast.error(`Please Fill the Data`, {
        position: "top-center",
        timeout: 3000,
        closeOnClick: true,
        pauseOnFocusLoss: false,
        pauseOnHover: false,
        draggable: true,
        draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: "button",
        icon: true,
        rtl: false,
      });
    },
  },
  created() {
    this.fetchPatron();
  },
  computed: {
    ...mapGetters(["AllPatrons"]),
    PatronModelFilter() {
      return this.AllPatrons.filter((Patron) => {
        return this.Search.toLowerCase()
          .split(" ")
          .every((v) => Patron.first_name.toLowerCase().includes(v));
      });
    },
  },
};
</script>
