<template>
  <div id="app">
    <body style="background-color:#2F2D2E; height: 1000000px;
width: 10000px" id="col">

    <section class = "titlepage">
  <h1 id = "define">Patron Management</h1>
  </section>

  <div class="topnav2">
  <input type="text" placeholder="Search..">
  </div>

    <div class="button2">
  <button v-b-modal.AddPatron @click="$bvModal.show('AddPatron')" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Add Book
  </button>
    </div>


  <div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
  <div class="modal-content">
  <div class="modal-header">
  <h5 class="modal-title">Modal title</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
  <span aria-hidden="true">&times;</span>
  </button>
  </div>
  </div>


  <div class="modal-body">
  <p>Modal body text goes here.</p>
  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-primary">Save changes</button>
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  </div>
  </div>
  


  <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
  <div class="modal-dialog" role="document">
  <div class="modal-content">
  <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
  <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete it?</h5>
  <span aria-hidden="true">&times;</span>
  </button>
    </div>
  </div>
  </div>
  </div>
  <div class="modal-body">
  </div>


    </div>

    <table id="ta">
    <tr>
    <th>Book Name</th>
    <th>Author</th>
    <th>Copies Available</th>
    <th>Category</th>
    <th>Edit</th>
    <th>Delete</th>
    <th>Borrow</th>
    <th>Return</th>
    </tr>
    <tr>
      <tr v-for="Book in PatronModelFilter" :key="Book.id">
                  <td>
                    {{ Book.name }}
                  </td>
                  <td>
                    {{ Book.author }}
                  </td>
                  <td>
                    {{ Book.copies }}
                  </td>
                  <td>
                    {{ Book.category_id }}
                  </td>
                  <td class="text-center">
                    <a> <img src="#"  width="30px" height="30px" @click="Form = Book" v-b-modal.UpdateBook >
                    </a>
                  </td>
                  <td class="text-center" >
                     <a @click="SelectedPatron = Book" v-b-modal.DeleteModal> <img src="#" width="30px" height="30px"> </a>
                  </td>
                </tr>


   
<div class="modal fade" id="deleteyn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="deletebod">
            Are you sure you want to delete?
          </div>
          <div class="modal-footer" id="deletebod">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
          </div>
        </div>
      </div>
    </div>



    
      </table>
    </body>

    <b-modal id="AddPatron" title="Add Book" hide-header-close ref="modal" >
                
          <div class="modal-body">
             <button    class="TRY " @click="HideModal" ><span aria-hidden="true">&times; </span></button>
               <form id="AddPatron" ref="modal">
                 <div class="form-group">
                   <input id="BookName"  v-model="Form.name" type="text" name="bookname" class="form-control form-control-lg" placeholder="Name">
                   </div>
                   <div class="form-group">
                   <input id="Author"  v-model="Form.author" type="text" name="Author" class="form-control form-control-lg" placeholder="Author">
                   </div>
                   <div class="form-group">
                   <input id="Copies"  v-model="Form.copies" type="text" name="CopiesAvailable" class="form-control form-control-lg" placeholder="Copies Available">
                   </div>
                  <div class="form-group">
                 <b-form-select id="Genre" v-model="Form.category_id">
                <b-form-select-option
                  :value="Category.id"
                  v-for="Category in AllCategories"
                  :key="Category.id"
                  >{{ Category.category }}</b-form-select-option>
                  </b-form-select>
               </div> 
               </form>
            </div>
             <template #modal-footer class="float-right">
              <div class="w-100 float-right">
                <button type="button" class="btndesigns btn btn-info btn-block btn-lg" @click="AddBook" >Register</button>
              </div>
             </template>
            </b-modal>






             <b-modal id="UpdatePatron" title="Update Patron" centered modal-header no-close-on-backdrop no-close-on-esc hide-header-close ref="modal">
             <div class="modal-body p-4">
             <button     @click="HideModal" class="TRY"><span aria-hidden="true">&times; </span></button>
               <form id="AddPatron" ref="modal">
                   <div class="form-group">
                   <input id="BookName"  v-model="Form.name" type="text" name="bookname" class="form-control form-control-lg" placeholder="Name">
                   </div>
                   <div class="form-group">
                   <input id="Author"  v-model="Form.author" type="text" name="Author" class="form-control form-control-lg" placeholder="Author">
                   </div>
                   <div class="form-group">
                   <input id="CopiesAvailable"  v-model="Form.copies" type="text" name="CopiesAvailable" class="form-control form-control-lg" placeholder="Copies Available">
                   </div>
                   <div class="form-group">
                   <b-form-select id="Genre" v-model="Form.category_id">
                    <b-form-select-option
                     :value="Category.id"
                     v-for="Category in AllCategories"
                     :key="Category.id"
                     >{{ Category.category }}
                     </b-form-select-option>
              </b-form-select>
                   </div>
               </form>
            </div>
          <template #modal-footer class="float-right">
            <div class="w-100 float-right">
              <button type="button" class="btndesigns btn btn-info btn-block btn-lg" @click="UpdatePatron()"> Update Patron </button>    
            </div>
          </template>
        </b-modal> 












 <b-modal  size="300px" hide-header id="DeleteModal"  centered ref="modal">
           <h3 class="text-center">Are you sure you want to Delete?</h3>
          <template #modal-footer class="float-right">
            <div class="w-100 float-right">
           
             <button type="button" class="promptt btn btn-danger mr-2"  data-dismiss="modal" block @click="DeletePatron()" >
                Yes
              </button>
                <button type="button" class="promptt btn btn-success" block @click="$bvModal.hide('DeleteModal')">
                Cancel
              </button>
              
            </div>
          </template>
        </b-modal>


  </div>      
</template>

<script src="../../assets/js/book.js"></script>
<script>
import { mapGetters, mapActions } from "vuex";
import Book from '../../assets/js/book.js'
export default Book;
</script>

<style>

</style>
