<template>
<body style="background-color:#2F2D2E; height: 1000000px;
width: 10000px" id="col">
  <div id="wholepage"></div>
  <div id="app">
    <section class = "titlepage">
  <h1 id = "define">Dashboard</h1>
  </section>
<h3>DASHBOARD</h3>
  
  
  
             <div class="row" id="char">
              <div class="column">
                <canvas id="barChart" style="height:40vh; width:50vw" ref= "barChart"></canvas>    
              </div>
              <div class="column">
                <canvas id="pieChart" style="height:40vh; width:50vw"></canvas>
              </div>  
           
             </div>
  </div>
</body>
</template>

<script>
//import anay
import Chart from 'chart.js';
export default {
  components: {
     
  },
  data(){
    return {
      msg: 'Hello World!'
    }
  },
  methods: {
    
  },
  mounted() {
    document.title = "Dashboard"
    this.$nextTick(() => {
      var ctx = this.$refs.barChart.getContext("2d");
      new Chart(ctx, {
        type: "bar",
        data: {
			labels: ['January', 'February', 'March', 'April', 'May', 'June'],
          datasets: [
            {
              label: "Borrowed Books",
              data: [7, 10, 9, 12, 13, 6],
              backgroundColor: "rgba(117, 121, 231,8)",
            },
            {
              label: "Borrowed Books",
              data: [7, 10, 9, 12, 13, 6],
              backgroundColor: "rgba(117, 121, 231,8)",
            },
            {
              label: "Returned Books",
              data: [4, 7, 10, 11, 8, 8],
              backgroundColor: "rgba(154, 179, 245, .8)",
            },
          ],
        },
        options: {
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true,
                },
              },
            ],
          },
        },
      });

      var pie = document.getElementById("pieChart").getContext("2d");
      new Chart(pie, {
        type: "pie",
        data: {
          datasets: [
            {
              data: [10, 20, 30, 20,40],
              backgroundColor: [
                "rgb(52, 152, 219, .8)",
                "rgba(154, 179, 245, .8)",
                "rgba(27, 206, 230, .8)",
                "rgba(27, 64, 230, .8)",
                "rgba(27, 30, 30,113 )",
              ],
            },
          ],

          labels: [
					'Computer Science',
					'Mystery',
					'Romance',
					'History'
				],
        },
        
      });
    });
  },
  
};
 
</script>

<style>
</style>