<template>
  <div id="app">
    <body style="background-color:#2F2D2E; height: 1000000px;
width: 10000px" id="col">

    <section class = "titlepage">
  <h1 id = "define">Patron Management</h1>
  </section>

  <div class="topnav2">
  <input type="text" placeholder="Search..">
  </div>

    <div class="button2">
  <button v-b-modal.AddPatron @click="$bvModal.show('AddPatron')" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Add Patron
  </button>
    </div>


  <div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
  <div class="modal-content">
  <div class="modal-header">
  <h5 class="modal-title">Modal title</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
  <span aria-hidden="true">&times;</span>
  </button>
  </div>
  </div>


  <div class="modal-body">
  <p>Modal body text goes here.</p>
  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-primary">Save changes</button>
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  </div>
  </div>
  


  <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
  <div class="modal-dialog" role="document">
  <div class="modal-content">
  <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
  <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete it?</h5>
  <span aria-hidden="true">&times;</span>
  </button>
    </div>
  </div>
  </div>
  </div>
  <div class="modal-body">
  </div>




  


    </div>

    <table id="ta">
    <tr>
    <th>Name</th>
    <th>Email Address</th>
    <th>Date Registered</th>
    <th>Edit</th>
    <th>Delete</th>
    </tr>
    <tr>
      <tr v-for="Patron in PatronModelFilter" :key="Patron.id">
                  <td>
                    {{ Patron.first_name + " " + Patron.last_name }}
                  </td>
                  <td>
                    {{ Patron.email }}
                  </td>
                  <td>
                      {{ Patron.created_at }}
                  </td>
                  <td class="text-center">
                    <a href="#"> <img src="#"  width="30px" height="30px" @click="Form = Patron()" v-b-modal.UpdatePatron >
                    </a>
                  </td>
                  <td class="text-center" >
                     <a href="#" @click="SelectedPatron = index" v-b-modal.DeleteModal ><img src="#" width="30px" height="30px"> </a>
                  </td>
                </tr>


   
<div class="modal fade" id="deleteyn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="deletebod">
            Are you sure you want to delete?
          </div>
          <div class="modal-footer" id="deletebod">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
          </div>
        </div>
      </div>
    </div>



    
      </table>
    </body>

    <b-modal id="AddPatron" title="Add Patron" hide-header-close ref="modal" >
                
          <div class="modal-body">
             <button    class="TRY " @click="HideModal" ><span aria-hidden="true">&times; </span></button>
               <form id="AddPatron" ref="modal">
                 <div class="form-group">
                   <input id="FirstName"  v-model="Form.first_name" type="text" name="firstname" class="form-control form-control-lg" placeholder="Name">
                   </div>
                   <div class="form-group">
                   <input id="MiddleName"  v-model="Form.middle_name" type="text" name="middlename" class="form-control form-control-lg" placeholder="Name">
                   </div>
                   <div class="form-group">
                   <input id="LastName"  v-model="Form.last_name" type="text" name="lastname" class="form-control form-control-lg" placeholder="Name">
                   </div>
                  <div class="form-group">
                  <input id="EmailAddress" placeholder=" Email Address" v-model="Form.email" type="text" name="email" class="form-control form-control-lg" value="Email Address" required>
               </div> 
               </form>
            </div>
             <template #modal-footer class="float-right">
              <div class="w-100 float-right">
                <button type="button" class="btndesigns btn btn-info btn-block btn-lg" @click="AddPatron" >Register</button>
              </div>
             </template>
            </b-modal>






             <b-modal
          id="UpdatePatron" title="Update Patron" centered modal-header no-close-on-backdrop no-close-on-esc hide-header-close ref="modal">
             <div class="modal-body p-4">
             <button     @click="HideModal" class="TRY"><span aria-hidden="true">&times; </span></button>
               <form id="AddPatron" ref="modal">
                   <div class="form-group">
                   <input id="FirstName"  v-model="Form.FirstName" type="text" name="firstname" class="form-control form-control-lg" placeholder="Name">
                   </div>
                   <div class="form-group">
                   <input id="MiddleName"  v-model="Form.middle_name" type="text" name="middlename" class="form-control form-control-lg" placeholder="Name">
                   </div>
                   <div class="form-group">
                   <input id="LastName"  v-model="Form.last_name" type="text" name="lastname" class="form-control form-control-lg" placeholder="Name">
                   </div>
                   <div class="form-group">
                  <input id="EmailAddress" placeholder=" Email Address" v-model="Form.EmailAddress" type="text" name="email" class="form-control form-control-lg" value="Email Address" required>
               </div> 
               </form>
            </div>
          <template #modal-footer class="float-right">
            <div class="w-100 float-right">
              <button type="button" class="btndesigns btn btn-info btn-block btn-lg" @click="UpdatePatron()"> Update Patron </button>    
            </div>
          </template>
        </b-modal> 












 <b-modal  size="300px" hide-header id="DeleteModal"  centered ref="modal">
           <h3 class="text-center">Are you sure you want to Delete?</h3>
          <template #modal-footer class="float-right">
            <div class="w-100 float-right">
           
             <button type="button" class="promptt btn btn-danger mr-2"  data-dismiss="modal" block @click="DeletePatron()" >
                Yes
              </button>
                <button type="button" class="promptt btn btn-success" block @click="$bvModal.hide('DeleteModal')">
                Cancel
              </button>
              
            </div>
          </template>
        </b-modal>


  </div>      
</template>

<script src="../../assets/js/book.js"></script>

