<template>
  <div>
    <div class="sidebar">
      <router-link to="/" exact class="element-container ">
        <div class="element">
          <img
            src="../../assets/img/icons8-dashboard-layout-96.png"
            height="30"
            class="ml-4 mt-3 position-absolute"
            alt=""
          />
          <p class="ml-6 mt-3 option font-weight-bold">Dashboard</p>
        </div>
      </router-link>
      <router-link to="/Patron" exact class="element-container">
        <div class="element">
          <img
            src="../../assets/img/icons8-conference-96.png"
            height="30"
            class="ml-4 mt-2 position-absolute mt-4"
            alt=""
          />
          <p class="ml-6 mt-2 option font-weight-bold">Patron Management</p>
        </div>
      </router-link>
      <router-link to="/Book" exact class="element-container">
        <div class="element">
          <img
            src="../../assets/img/icons8-book-stack-100.png"
            height="30"
            class="ml-4 mt-2 position-absolute mt-4"
            alt=""
          />
          <p class="ml-6 mt-2 option font-weight-bold">Book Management</p>
        </div>
      </router-link>

      <router-link to="/Settings" exact class="element-container">
        <div class="element">
          <img
            src="../../assets/img/icons8-settings-50.png"
            height="30"
            class="ml-4 mt-3 position-absolute"
            alt=""
          />
          <p class="ml-6 mt-3 option font-weight-bold">Settings</p>
        </div>
      </router-link>
    </div>
  </div>
</template>
