<template>
  <div class="nav">
    <div class="nav-container">
      <div class="d-flex align-items-center"></div>
      <div class="user-container">
        <div class="d-flex align-items-center">
          <img src="" height="38" class="mt-1 mr-2" />
          <a href="#"  @click="Logout" class="link-custom">Log-out</a>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapActions } from "vuex";
export default {
  methods: {
    ...mapActions(["logout"]),
    Logout() {
      this.logout().then(() => {
        this.$router.replace({
          name: "SignIn",
        }).catch(()=>{});
      });
    },
  },
};
</script>