<template>
  <div class="sidenav" id="app">
    <img
      src="../../assets/images/logo.png"
      height="150"
      class="ml-2 mt-10 position-absolute"
    />
    <svg></svg>
    <router-link to="/Dashboard">
      <a href="index.html" class="">
        <div
          class="element-container"
          :class="isActive == 'index' ? 'active' : ''"
        >
          <div class="element">
            <img
              src="../../assets/images/dashboard.png"
              height="25"
              class="ml-4 mt-2 position-absolute"
            />
            <p class="ml-6 mt-1 option" href="">Dashboard</p>
          </div>
        </div>
      </a>
    </router-link>

    <router-link to="/Patron">
      <a
        href="patron.html"
        :class="isActive == 'patron' ? 'active-management' : ''"
      >
        <div class="element-container">
          <div class="element">
            <img
              src="../../assets/images/patron.png"
              height="25"
              class="ml-4 mt-2 position-absolute"
            />
            <p class="ml-6 option" href="">Patron Management</p>
          </div>
        </div>
      </a>
    </router-link>
    <router-link to="/Book">
      <a
        href="books.html"
        :class="isActive == 'books' ? 'active-management' : ''"
      >
        <div class="element-container">
          <div class="element">
            <img
              src="../../assets/images/books.png"
              height="25"
              class="ml-4 mt-2 position-absolute"
            />
            <p class="ml-6 option" href="">Books Management</p>
          </div>
        </div>
      </a>
    </router-link>
    <router-link to="/Settings">
      <a
        href="settings.html"
        :class="isActive == 'settings' ? 'active-management' : ''"
      >
        <div class="element-container">
          <div class="element">
            <img
              src="../../assets/images/settings.png"
              height="25"
              class="ml-4 mt-3 position-absolute"
            />
            <p class="ml-6 mt-2 option" href="">Settings</p>
          </div>
        </div>
      </a>
    </router-link>
    <br />
  </div>
</template>
<script>
export default {
  props: {
    isActive: String,
  },
  data() {
    return {
      data: "",
    };
  },
  mounted() {},
};
</script>