.sidenav {
      background-color:#7B98E3;;
      height: 100%;
      position:absolute;
      top:170px;

    }

 .sidenav {
        height: 763px;
        padding: 15px;
         left:10px;
         width:320px;
     
    }

  .logo{
  	  width:500px;
  	  height:129px;
  	  top:100px;
  	  left:100px;
  	  position:relative	;

    }
 .textname{
 	  position: absolute;;
 	  width:auto;
 	  top:60px;
 	  left:160px;
 	  width: auto;
	   color:white;
	   font-size: 10px;
 	}
 .jumbo{
      width:auto;
      height: 200px;
 	}
 .col{
 	color:blue;
 	height:100px;
 }
 .mycontainer{
 	height:150px;
 	background: #7B98E3;
 	width:100%;
	padding:10px;
	left:11px;


 }
 .mycontainer1{
	position: absolute;
 	height:150px;
 	background: #7B98E3;
 	top:950px;
	
	 left:10px;
	 width:1325px;
	 

 }
 .user{
 	position: absolute;
	width: 106px;
	height: 105px;
	left: 950px;
	top: 25px;
	color:white;
	text-align: center;
 }
 .usercolor{
 	color:white;
 }

 .border1{
 	position: absolute;
	width: 990px;
	height: 765px;
	left:340px;
	top: 170px;

background: #7B98E3;
 }

 .border2{
 	position: absolute;
	width: 970px;
	height: 700px;
	left:350px;
	top: 190px;

background:white;
 }

 .border3{
 	position: absolute;
	width: 970px;
	height: 700px;
	left:350px;
	top: 300px;

 }

 .div{
 	font-size-adjust: 0.58;

 }

 .textname1{
 	position:absolute;
	width: auto;
	height: 105px;
	left: 1020px;
	top: 32px;
	color:#FFFFFF;
}

 .button2{
 	position:absolute;
	width: auto;
	height: 105px;
	left: 1100px;
	top: 50px;
	color: blue !important;
	border:0px;


 	
 }
 .graph{
 	position: absolute;
	width: 300px;
	height: auto;
	left:400px;
	top: 200px;
	background: white;
 }

 .graph1{
 	position: absolute;
	width: 500px;
	height: auto;
	left:800px;
	top: 200px;
	background: white;
 }

 .button1{
 	
 	border-color:#7B98E3;
 	height:50px;
 	width:120px;
 	position: relative;
 	left: 20px;
	 top:20px;
	 z-index: 1000;
	 color:#7B98E3;
	 background-color: white;
 }
 .btnupdate{
 	border-color:#7B98E3;
 	height:30px;
 	width:60px;
 	font-size:10px;
 	
 }

  .btndelete{
 	border-color:red;
 	height:30px;
 	width:60px;
 	font-size:10px;
 	text-align: center;
 }
  .btndEDIT{
 	border-color:green;
 	height:30px;
 	width:60px;
 	font-size:10px;
 	text-align: center;
 }
  .btndborrow{
 	border-color:pink;
 	height:30px;
 	width:60px;
 	font-size:10px;
 	text-align: center;
 }
  .input{
  	border-color:#7B98E3;
 	height:40px;
 	width:220px;
 	position: relative;
 	left: 500px;
 	top:25px;

  }
  .search{

  	border-color:#7B98E3;
 	height:30px;
 	width:30px;
 	position: relative;
 	left: 500px;
 	top:25px;

  
  }
  .btn3{
	  color:hsl(223, 37%, 46%);
  }

  /* Full-width input fields */
input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
	background-color: #04AA6D;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
  }
  
  button:hover {
	opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
	position: relative;
  }
  
  img.avatar {
	width: 30%;
	border-radius: 50%;
  }
  
  .container {
	padding: 16px;
  }
  
  span.psw {
	float: right;
	padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
	background-color: #fefefe;
	margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
	border: 1px solid #888;
	width: 40%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
	position: absolute;
	right: 25px;
	top: 0;
	color: #000;
	font-size: 35px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: red;
	cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)} 
	to {-webkit-transform: scale(1)}
  }
	
  @keyframes animatezoom {
	from {transform: scale(0)} 
	to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
	span.psw {
	   display: block;
	   float: none;
	}
	.cancelbtn {
	   width: 100%;
	}
  }