<template>
  <div id="app">
    <div
      class="modal fade"
      id="my_modal"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modal_title">WARNING</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete Patron?</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">
              YES
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--This is the end of Modal-->
    <!--This is my Div for Contents-->
    <div class="contents">
      <div class="info">
        <!--This is my table-->
        <div class="row">
          <div class="col-12 ml-5">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Name of Patron</th>
                  <th scope="col">Author</th>
                  <th scope="col">Publisher</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Bootstrap 4 CDN and Starter Template</td>
                  <td>Cristina</td>
                  <td>2.846</td>
                  <td>
                    <button type="button" class="btn btn-success">
                      <i class="fas fa-edit"></i>
                    </button>
                    <button
                      type="button"
                      class="btn btn-danger"
                      data-toggle="modal"
                      data-target="#my_modal"
                    >
                      <i class="far fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>Bootstrap Grid 4 Tutorial and Examples</td>
                  <td>Cristina</td>
                  <td>3.417</td>
                  <td>
                    <button type="button" class="btn btn-success">
                      <i class="fas fa-edit"></i>
                    </button>
                    <button
                      type="button"
                      class="btn btn-danger"
                      data-toggle="modal"
                      data-target="#my_modal"
                    >
                      <i class="far fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>Bootstrap Flexbox Tutorial and Examples</td>
                  <td>Cristina</td>
                  <td>1.234</td>
                  <td>
                    <button type="button" class="btn btn-success">
                      <i class="fas fa-edit"></i>
                    </button>
                    <button
                      type="button"
                      class="btn btn-danger"
                      data-toggle="modal"
                      data-target="#my_modal"
                    >
                      <i class="far fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!--This is the end of the table-->
      </div>
      <!--This is the end of the contents-->
    </div>
  </div>
</template>
<script>
export default {
  name: "App",
  components: {},
};
</script>
<style scoped>
.btn-outline-add {
  color: #002c3e !important;
  border-color: #002c3e !important;
  background-color: white !important;
}

.btn-outline-add:hover {
  color: white !important;
  background-color: #002c3e !important;
}
.btn-no-border {
  padding: 0;
  border: none;
  background: none;
}
.btn-no-border:focus {
  outline: 0 !important;
}
.secondary {
  background-color: #6c757d !important;
  border-color: #6c757d !important;
  box-shadow: none !important;
  color: white;
}
</style>
<style></style>
