*{
	margin: 0;
	padding: 0;
	font-family: Arial;

}
header {
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/a.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

ul {

    float: right;
    list-style-type: none;
    margin-top: 25px;

}

ul li {

	display: inline-block;
}

ul li a {

	text-decoration: none;
	color: #FFA500;
	padding: 10px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;

}

ul li a:hover{

	background-color: #FFA500;
	color: #000;



}

ul li.active a {
	background-color: #FFA500;
	color: #000;

}

.logo img {
	margin-top: 10px;
	float: left;
	width: 150px;
	height: 30px;
}

.main {
	max-width: 1300px;
	margin: auto;
}

.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

}

.button {

	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%,-50%);
}


.button2 {

	position: absolute;
	top: 200%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.button3 {

	position: absolute;
	top: 300%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.btn{

	border: 2px solid #FFA500;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.6s ease;
}

.btn:hover{
	background-color: #FFA500;
	color: #000;
}

.btn2 {

	border: 3px solid #FFA500;
	padding: 15px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.6s ease;
}

.btn2:hover{
	background-color: #FFA500;
	color: #000;

}


.btn3{

	border: 3px solid #FFA500;
	padding: 15px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.6s ease;

}

.btn3:hover {
	background-color: #FFA500;
	color: #000;
	}

h1
{
    text-align: center;
    padding-bottom: 30px;
}

.picture{
	position: absolute;
	top: 160%;
	left: 50%;
	transform: translate(-50%,-50%);

	}

.picture1{
	margin: 0 auto;
	position: absolute;
	height: 200px;
	width: 200px;
	top: 115%;
	transform: translate(-50%,-50%);
	background-repeat: no-repeat;
	}

.picture2{
	margin: 0 auto;
	position: absolute;
	height: 10px;
	width: 1px;
	top: 200%;
	transform: translate(-50%,-50%);
	background-repeat: no-repeat;
	}


.picture3{
	margin: 0 auto;
	position: absolute;
	height: 10px;
	width: 450px;
	top: 205%;
	transform: translate(-50%,-50%);
	background-repeat: no-repeat;
	}

.picture4{
	margin: 0 auto;
	position: absolute;
	height: 10px;
	width: 500px;
	top: 250%;
	transform: translate(-50%,-50%);
	background-repeat: no-repeat;
 }

 }
 .text {
 	color: white;
 	font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%
    transform:translate(-50%,-50%);

 	 }

body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}