<template>
  <div class="sidenav" id="app">
    <body style="background-color:#2F2D2E" id="col">
  <hr class="solid">
  <section class="bar">
  <div class="sidebar">
  <a class="nav-header" id="logo"><img src="../../assets/images/logo.png"></a> 
  
  <router-link to="/Dashboard">
  <a id="choice"  href="index.html">Dashboard</a>
  </router-link>

  <router-link to="/Patron">
  <a id="choice" href="PatronManagement.html">Patron Management</a>
  </router-link>

  <router-link to="/Book">
  <a id="choice" href="BookManagement.html">Book Management</a>
  </router-link>

  <router-link to="/Settings">
  <a id="choice" href="Settings.html">Settings</a>
  </router-link>
  <a type="button" href="#" @click="out" class="btn btn-danger">Log-out</a>
</div>
</section>

       </body> 
   </div>
  
  
</template>
<script>
import { mapActions } from "vuex";
export default {
  methods: {
    ...mapActions(["logout"]),
      out() {
      this.logout().then(() => {
        this.$router.replace({
          name: "signin",
        });
      });
    },
  },

};
</script>