<template>
  <div id="app">
    <NavBar />
    <SideBar />
    <router-view> </router-view>
  </div>
</template>

<script>
import NavBar from "./components/navbar.vue";
import SideBar from "./components/sidebar.vue";
export default {
  name: "App",
  components: {
    NavBar,
    SideBar,
  },
};
</script>

<style>
@import "./assets/css/library.css";
</style>
