<template>
  <div class="sidenav" id="app">
    <body style="background-color:#2F2D2E">


        
        

    </body>
   </div>
  
</template>
<script>
export default {
  props: {
    isActive: String,
  },
  data() {
    return {
      data: ''
    }
  },
  mounted() {
    
  }
}
</script>
<style></style>