<template>
  <div>
   <navbar/>
   <sidebar/>
    <div class="container border1">
    </div>
    <div class="container border2">
    <b-button v-b-modal.AddModal class="button1">
      ADD BOOK
  </b-button>
    <input class="input" type="text" placeholder="Search.." id="search" v-model="Search">
   <img class="search" src="@/assets/img/SEARCH.svg">
    </div>

    <div class="container border3">
    <table class="table table-bordered">
    <thead>
    <tr class="bg-primary">
      <th scope="col">NAME</th>
      <th scope="col">AUTHOR</th>
      <th scope="col">COPIES AVAILABLE
      <th scope="col">CATEGORY</th>
      <th scope="col">Date REGISTERED</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody >
    <tr  v-for="Book in BookModelFilter" :key="Book.id" >
      <td> {{ Book.name }} </td>
      <td> {{ Book.author }}</td>
      <td>{{ Book.copies }}</td>
      <td>{{ Book.category_id }}</td>
      <td>{{ Book.created_at }}</td>
      <td>
         <button type="button" class="btn btn-outline-primary btnupdate"  @click="Form = Book" v-b-modal.UpdateBook>UPDATE</button>
         <button type="button" class="btn btn-outline-warning btndelete"  @click="SelectedBook = Book" v-b-modal.DeleteModal >DELETE</button>
        <br>
        <button type="button" class="btn btn-outline-primary btnupdate">BORROW</button>
         <button type="button" class="btn btn-outline-primary btnupdate">RETURN</button>
      </td>
      </tr>
    </tbody>
  </table>
  </div>
  
<!-- Add Modal -->
        <b-modal
          id="AddModal"
          title="Add Boook"
          centered
          modal-header
          no-close-on-backdrop
          no-close-on-esc
          hide-header-close
          ref="modal"
        >
          <form>
            <b-form-group>
              <label for="BookName" class="req">Name:</label>
              <b-form-input
                id="BookName"
                placeholder="Input Name "
                v-model="Form.name"
                @blur="$v.Form.name.$touch()"
              ></b-form-input>

              <label for="BookAuthor" class="mt-3">Auhtor:</label>
              <b-form-input
                id="BookAuthor"
                placeholder="Input Book Author"
                v-model="Form.author"
                @blur="$v.Form.author.$touch()"
              ></b-form-input>

              <label for="BookCopies" class="mt-3 req">Copies:</label>
              <b-form-input
                id="BookCopies"
                placeholder="Input Copies"
                v-model="Form.copies"
                 @blur="$v.Form.copies.$touch()"
              ></b-form-input>

              <label for="BookCategory" class="mt-3 req">CATEGORY:</label>
               <b-form-select v-model="Form.category_id">
                <b-form-select-option
                  :value="Category.id"
                  v-for="Category in AllCategories"
                  :key="Category.id"
                  >{{ Category.category}}</b-form-select-option
                >
              </b-form-select>
            </b-form-group>
          </form>
          <template #modal-footer class="float-right">
            <div class="w-100 float-right">
              <button
                type="button"
                class="btn btn-primary mr-2 float-right"
                @click="AddBook"
              >
                <i class="fa fa-plus-circle mr-2"></i>Add Patron
              </button>
              <button
                type="button"
                class="btn btn-secondary mx-3 float-right"
                data-dismiss="modal"
                block
                @click="HideModal"
              >
                <i class="fa fa-arrow-circle-left mr-2 "></i>Close
              </button>
            </div>
          </template>
        </b-modal>

         <!-- UpdateBook -->
        <b-modal
          id="UpdateBook"
          title="Update Book"
          centered
          modal-header
          no-close-on-backdrop
          no-close-on-esc
          hide-header-close
          ref="modal"
        >
          <form>
             <b-form-group>
              <label for="BookName" class="req">Name:</label>
              <b-form-input
                id="BookName"
                placeholder="Input Name "
                v-model="Form.name"
              ></b-form-input>

              <label for="BookAuthor" class="mt-3">Auhtor:</label>
              <b-form-input
                id="BookAuthor"
                placeholder="Input Book Author"
                v-model="Form.author"
              ></b-form-input>

              <label for="BookCopies" class="mt-3 req">Copies:</label>
              <b-form-input
                id="BookCopies"
                placeholder="Input Copies"
                v-model="Form.copies"
              ></b-form-input>

              <label for="BookCategory" class="mt-3 req">CATEGORY:</label>
                <b-form-select v-model="Form.category_id">
                <b-form-select-option
                  :value="Category.id"
                  v-for="Category in AllCategories"
                  :key="Category.id"
                  >{{ Category.category}}</b-form-select-option
                >
              </b-form-select>
            </b-form-group>
          </form>
          <template #modal-footer class="float-right">
            <div class="w-100 float-right">
              <button
                type="button"
                class="btn btn-primary float-right"
                @click="UpdateBook(SelectedBook)"
              >
                <i class="fa fa-plus-circle mr-2"></i>Update Patron
              </button>
              <button
                type="button"
                class="btn btn-outline-add float-right"
                data-dismiss="modal"
                block
               @click="HideModal"
              >
                Close
              </button>
            </div>
          </template>
        </b-modal>


     <!-- DeleteModal -->
        <b-modal id="DeleteModal" title="Confirm Delete" centered ref="modal">
          <p>Are you sure you want to delete this?</p>
          <template #modal-footer class="float-right">
            <div class="w-100 float-right">
              <button
                type="button"
                class="btn secondary mr-2"
                block
                @click="$bvModal.hide('DeleteModal')"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-danger"
                data-dismiss="modal"
                block
                @click="DeleteBook(SelectedBook)"
              >
                Yes
              </button>
            </div>
          </template>
        </b-modal>
<div class="mycontainer1">
</div>
  </div>
</template>
<script>
import navbar from "@/components/navbar";
import sidebar from "@/components/sidebar";
import { mapGetters, mapActions } from "vuex";
import {
  required,
  minLength,
  maxLength,
} from "vuelidate/lib/validators";
export default {
  name: 'App',
  components: {
    navbar,
    sidebar,
  },
   data() {
    return {
      Form: {
        name: "",
        author: "",
        copies: "",
        category_id: "",
      },
      errorsM: [],
      BookModel: [],
      SelectedBook: "",
      Search: "",
    };
  },
  methods: {
    ...mapActions(["fetchCategory", "fetchBooks", "addBooks", "updateBooks", "removeBooks"]),
    AddBook() {
        if (!this.FormValidation()) {
        for (var e in this.errorsM) {
          this.$toast.warning(`${this.errorsM[e]}`);
        }
           return;
        }
        this.addBooks(this.Form);
        this.HideModal();
        this.AddToast();
      },
    UpdateBook() {
      if (!this.FormValidation()) {
        for (var e in this.errorsM) {
          this.$toast.warning(`${this.errorsM[e]}`);
        }
           return;
        }
        this.updateBooks(this.Form);
        this.HideModal();
        this.UpdateToast();
    },
    ToBeUpdated(index){
      this.SelectedBook = index;
      this.Form.name = this. SelectedBook.name;
      this.Form.author = this. SelectedBook.author;
      this.Form.copies   = this. SelectedBook.copies;
      this.Form.category = this. SelectedBook.category_id;
    },
    DeleteBook() {
      this.removeBooks(this.SelectedBook);

      this.HideModal();
      this.DeleteToast();
    },
    HideModal() {
      this.$refs.modal.hide();
      this.FormReset();
    },
    FormReset() {
      (this.Form = {
         name: "",
        author: "",
        copies: "",
        category: "",
        
      }),

      (this.SelectedBook = "");
    },
    AddToast() {
      this.$toast.success(`Successfully`, {
        position: "bottom-right",
        timeout: 3000,
        closeOnClick: true,
        pauseOnFocusLoss: false,
        pauseOnHover: false,
        draggable: true,
        draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: "button",
        icon: true,
        rtl: false,
      });
    },
    ErrorToast() {
      this.$toast.error(`Error`, {
        position: "bottom-right",
        timeout: 3000,
        closeOnClick: true,
        pauseOnFocusLoss: false,
        pauseOnHover: false,
        draggable: true,
        draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: "button",
        icon: true,
        rtl: false,
      });
      
    },
     FormValidation() {
      this.errorsM = [];
      if (!this.$v.Form.name.required) {
        this.errorsM.push("Name is required");
      }

      if (!this.$v.Form.name.minLength)
        this.errorsM.push(
          "Name must have at least " +
            this.$v.Form.name.$params.minLength.min +
            " characters"
        );

      if (!this.$v.Form.author.required)
        this.errorsM.push("Author is required");

      if (!this.$v.Form.author.minLength)
        this.errorsM.push(
          "Author must have at least " +
            this.$v.Form.author.$params.minLength.min +
            " characters"
        );

      if (!this.$v.Form.copies.required)
        this.errorsM.push("Copies is required");

      if (!this.$v.Form.copies.minLength)
        this.errorsM.push(
          "Copies must have at least " +
            this.$v.Form.copies.$params.minLength.min +
            " characters"
        );

      if (!this.$v.Form.category_id.required)
        this.errorsM.push("Category/Category ID is required");

      if (!this.$v.Form.category_id.minLength)
        this.errorsM.push(
          "Category ID must have at least " +
            this.$v.Form.category_id.$params.minLength.min +
            " characters"
        );

      return this.errorsM.length ? false : true;
    },
     DeleteToast() {
      this.$toast.error(`Successfully Deleted`, {
        position: "bottom-right",
        timeout: 3000,
        closeOnClick: true,
        pauseOnFocusLoss: false,
        pauseOnHover: false,
        draggable: true,
        draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: "button",
        icon: true,
        rtl: false,
      });
    },
    UpdateToast() {
      this.$toast.success(`Successfully Editted`, {
        position: "bottom-right",
        timeout: 3000,
        closeOnClick: true,
        pauseOnFocusLoss: false,
        pauseOnHover: false,
        draggable: true,
        draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: "button",
        icon: true,
        rtl: false,
      });''
    },
  },
 created() {
    this.fetchBooks();
    this.fetchCategory();
  },
   computed: {
        ...mapGetters(["AllBooks", "AllCategories"]),
    BookModelFilter() {
      return this.AllBooks.filter((Book) => {
        return this.Search.toLowerCase()
          .split(" ")
          .every((v) => Book.name.toLowerCase().includes(v));
      });
    },
  },
  validations: {
    Form: {
      name: {
        required,
        minLength: minLength(1),
        maxLength: maxLength(255),
      },
      author: {
        required,
        minLength: minLength(2),
        maxLength: maxLength(255),
      },
      copies: {
        required,
        minLength: minLength(1),
        maxLength: maxLength(255),
      },
      category_id: {
        required,
        minLength: minLength(1),
        maxLength: maxLength(255),
      },
    },
  },
};
</script>