<template>
<div>
   <navbar/>
   <sidebar/>
   <div class="container border1">
	<div class="row">	
  </div>
  </div>
  <div>
 

  <div class="border2">
      
  <b-button v-b-modal.AddModal class="button1">
  ADD PATRON
  </b-button>
  <input class="input" type="text" placeholder="Search.." name="search" id="search" v-model="Search" >
  <img class="search" src="@/assets/img/SEARCH.svg">
</div>

<div class="container border3">
  <table class="table table-bordered">
  <thead>
    <tr class="bg-primary">
      <th scope="col">NAME</th>
      <th scope="col">EMAIL ADDRESS</th>
      <th scope="col">DATE REGISTERED</th>
      <th scope="col">ACTION</th>
    </tr>
  </thead>
  <tbody>
      <tr v-for="(Patron) in PatronModelFilter" :key="Patron.id">
                  <td>
                    {{ Patron.First_name + " " + Patron.Middle_name + " " + Patron.Last_name }}
                  </td>
                  <td>
                    {{ Patron.Email }}
                  </td>
                  <td>
                    {{Patron.created_at}}
                  </td>
      <td>
         <button type="button" class="btn btn-outline-primary btnupdate" @click="SelectedPatron = Patron" v-b-modal.UpdatePatron>UPDATE</button>
         <button type="button" class="btn btn-outline-warning btndelete" @click="SelectedPatron = Patron" v-b-modal.DeleteModal >DELETE</button>
      </td>
    </tr>
  </tbody>
  </table>
</div>  
</div>
    <!-- Add Modal -->
        <b-modal
          id="AddModal"
          title="Add Patron"
          centered
          modal-header
          no-close-on-backdrop
          no-close-on-esc
          hide-header-close
          ref="modal"
        >
          <form>
            <b-form-group>
              <label for="PatronFirstName" class="req">First Name:</label>
              <b-form-input
                id="PatronFirstName"
                placeholder="Input First Name "
                v-model="Form.First_name"
                 @blur="$v.Form.First_name.$touch()"
              ></b-form-input>

              <label for="PatronMiddleName" class="mt-3">Middle Name:</label>
              <b-form-input
                id="PatronMiddleName"
                placeholder="Input Middle Name "
                v-model="Form.Middle_name"
                @blur="$v.Form.Middle_name.$touch()"
              ></b-form-input>

              <label for="PatronLastName" class="mt-3 req">Last Name:</label>
              <b-form-input
                id="PatronLastName"
                placeholder="Input Last Name"
                v-model="Form.Last_name"
                @blur="$v.Form.Last_name.$touch()"
              ></b-form-input>

              <label for="PatronEmail" class="mt-3 req">Email Address:</label>
              <b-form-input
                id="PatronEmail"
                placeholder="Input Email Address"
                v-model="Form.Email"
                @blur="$v.Form.Email.$touch()"
              ></b-form-input>
            </b-form-group>
          </form>
          <template #modal-footer class="float-right">
            <div class="w-100 float-right">
              <button
                type="button"
                class="btn btn-primary mr-1 float-right"
                @click="AddPatron"
              >
                <i class="fa fa-plus-circle mr-2"></i>Add Patron
              </button>
              <button
                type="button"
                class="btn btn-secondary mr-2 float-right"
                data-dismiss="modal"
                block
                @click="HideModal"
              >
                <i class="fa fa-arrow-circle-left "></i>Close
              </button>
            </div>
          </template>
        </b-modal>

        <!-- UpdatePatron -->
        <b-modal
          id="UpdatePatron"
          title="Update Patron"
          centered
          modal-header
          no-close-on-backdrop
          no-close-on-esc
          hide-header-close
          ref="modal"
        >
          <form>
            <b-form-group>
              <label for="PatronFirstName" class="req">First Name:</label>
              <b-form-input
                id="PatronFirstName"
                placeholder="Input First Name "
                v-model="Form.First_name"
              ></b-form-input>

              <label for="PatronMiddleName" class="mt-3">Middle Name:</label>
              <b-form-input
               id="PatronMiddleName"
                placeholder="Input Middle Name "
                v-model="Form.Middle_name"
              
              ></b-form-input>

              <label for="PatronLastName" class="mt-3 req">Last Name:</label>
              <b-form-input
                id="PatronLastName"
                placeholder="Input Last Name"
                v-model="Form.Last_name"
               
              ></b-form-input>

              <label for="PatronEmail" class="mt-3 req">Email Address:</label>
              <b-form-input
                id="PatronEmail"
                placeholder="Input Email Address"
                v-model="Form.Email"
               
              ></b-form-input>
            </b-form-group>
          </form>
          <template #modal-footer class="float-right">
            <div class="w-100 float-right">
              <button
                type="button"
                class="btn btn-primary float-right"
                @click="UpdatePatron(SelectedPatron)"
              >
                <i class="fa fa-plus-circle mr-2"></i>Update Patron
              </button>
              <button
                type="button"
                class="btn btn-outline-add float-right"
                data-dismiss="modal"
                block
                @click="HideModal"
              >
                Close
              </button>
            </div>
          </template>
        </b-modal>

    <!-- DeleteModal -->
        <b-modal id="DeleteModal" title="Confirm Delete" centered ref="modal">
          <p>Are you sure you want to delete this?</p>
          <template #modal-footer class="float-right">
            <div class="w-100 float-right">
              <button
                type="button"
                class="btn secondary mr-2"
                block
                @click="$bvModal.hide('DeleteModal')"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-danger"
                data-dismiss="modal"
                block
                @click="DeletePatron(SelectedPatron)"
              >
                Yes
              </button>
            </div>
          </template>
        </b-modal>
<div class="mycontainer1"></div>
</div>
</template>

 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 



<script>
import navbar from "@/components/navbar";
import sidebar from "@/components/sidebar";
import { mapGetters, mapActions } from "vuex";
import {
  required,
  minLength,
  maxLength,
  email,
} from "vuelidate/lib/validators";
export default {
  name: 'App',
  components: {
    navbar,
    sidebar,
  },
  data() {
    return {
      Form: {
        Last_name: "",
        First_name: "",
        Middle_name: "",
        Email: "",
      },
     errorsM: [],
      PatronModel: [],
      SelectedPatron: "",
      Search: "",
    };
  },
  methods: {
    ...mapActions(["fetchPatron", "addPatron", "updatePatron", "removePatron"]),
    AddPatron() {
      if (!this.FormValidation()) {
        for (var e in this.errorsM) {
          this.$toast.warning(`${this.errorsM[e]}`);
        }
           return;
        }
         this.addPatron(this.Form);
        this.HideModal();
        this.AddToast();
      },
    UpdatePatron(){
      if (!this.FormValidation()) {
        for (var e in this.errorsM) {
          this.$toast.warning(`${this.errorsM[e]}`);
        }
        return;
      }
      this.updatePatron(this.Form);

      this.HideModal();
      this.AddToast();
    },
    ToBeUpdated(index) {
      this.SelectedPatron = index;
      this.Form.First_name = this.SelectedPatron.First_name;
      this.Form.Middle_name = this.SelectedPatron.Middle_name;
      this.Form.Last_name = this.SelectedPatron.Middle_name;
      this.Form.Email = this.SelectedPatron.Email;
    },
    DeletePatron() {
       this.removePatron(this.SelectedPatron);

      this.HideModal();
      this.DeleteToast();
    },
    HideModal() {
      this.$refs.modal.hide();
      this.FormReset();
    },
    FormReset() {
         this.Form = {
         First_name: "",
        Middle_name: "",
        Last_name: "",
        Email: "",
      };

      this.SelectedPatron = "";
    },
    AddToast() {
      this.$toast.success(`Successfully`, {
        position: "bottom-right",
        timeout: 3000,
        closeOnClick: true,
        pauseOnFocusLoss: false,
        pauseOnHover: false,
        draggable: true,
        draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: "button",
        icon: true,
        rtl: false,
      });
    },
    ErrorToast() {
      this.$toast.error(`Error`, {
        position: "bottom-right",
        timeout: 3000,
        closeOnClick: true,
        pauseOnFocusLoss: false,
        pauseOnHover: false,
        draggable: true,
        draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: "button",
        icon: true,
        rtl: false,
      });
    
    },

    FormValidation() {
      this.errorsM = [];
      if (!this.$v.Form.First_name.required) {
        this.errorsM.push("First Name is required");
      }

      if (!this.$v.Form.First_name.minLength)
        this.errorsM.push(
          "First Name must have at least have " +
            this.$v.Form.First_name.$params.minLength.min +
            " character"
        );

      if (!this.$v.Form.Middle_name.required)
        this.errorsM.push("Middle Name is required");

      if (!this.$v.Form.Middle_name.minLength)
        this.errorsM.push(
          "Middle Name must have at least have " +
            this.$v.Form.Middle_name.$params.minLength.min +
            " character"
        );

      if (!this.$v.Form.Last_name.required)
        this.errorsM.push("Last Name is required");

      if (!this.$v.Form.Last_name.minLength)
        this.errorsM.push(
          "Last Name must have at least have " +
            this.$v.Form.Last_name.$params.minLength.min +
            " character"
        );

      if (!this.$v.Form.Email.required) this.errorsM.push("Email is required");

      if (!this.$v.Form.Email.email)
        this.errorsM.push("Email is must be valid");

      if (!this.$v.Form.Email.minLength)
        this.errorsM.push(
          "Email must have at least have " +
            this.$v.Form.Email.$params.minLength.min +
            " character"
        );

      return this.errorsM.length ? false : true;
    },

  },

     DeleteToast() {
      this.$toast.error(`Successfully Deleted`, {
        position: "bottom-right",
        timeout: 3000,
        closeOnClick: true,
        pauseOnFocusLoss: false,
        pauseOnHover: false,
        draggable: true,
        draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: "button",
        icon: true,
        rtl: false,
      });
    },
    UpdateToast() {
      this.$toast.success(`Successfully Updated`, {
        position: "bottom-right",
        timeout: 3000,
        closeOnClick: true,
        pauseOnFocusLoss: false,
        pauseOnHover: false,
        draggable: true,
        draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: "button",
        icon: true,
        rtl: false,
      });
    },
  created() {
    this.fetchPatron();
  },
  computed: {
    ...mapGetters(["AllPatrons"]),
    PatronModelFilter() {
      return this.AllPatrons.filter((Patron) => {
        return this.Search.toLowerCase()
          .split(" ")
          .every((v) => Patron.First_name.toLowerCase().includes(v));
      });
    },
  },
   validations: {
    Form: {
      First_name: {
        required,
        minLength: minLength(2),
        maxLength: maxLength(255),
      },
      Middle_name: {
        required,
        minLength: minLength(2),
        maxLength: maxLength(255),
      },
      Last_name: {
        required,
        minLength: minLength(2),
        maxLength: maxLength(255),
      },
      Email: {
        required,
        minLength: minLength(8),
        maxLength: maxLength(255),
        email,
      },
    },
  },
};

</script>
