<template>
  <div> 
   <navbar/>
   <sidebar/>
  <div class="container border1">
  </div>
<div class="mycontainer1">
</div>
   
 
  
 
   
   
   
  
  </div>
</template>
<script>
import navbar from "@/components/navbar";
import sidebar from "@/components/sidebar";
export default {
  name: 'App',
  components: {
    navbar,
    sidebar,
  }
}
</script>