<template>
  <div>
    <!--Navbar -->
    <div class="navbar">
      <a class="brand" href="#">Library System</a>
      <ul class="nav">
        <li><a id="login" href="#">Login</a></li>
      </ul>
    </div>
  </div>
</template>
<style>
@import "../assets/css/library.css";
</style>
