<template>
    <div>
         <canvas id="myBarChart" width="280" height="200"></canvas>
    </div>
</template>
<script>
import Chart from "chart.js";
export default {
  name: "App",
  components: {},
  mounted: function() {
    var ctx1 = document.getElementById("myBarChart").getContext("2d");
    new Chart(ctx1, {
      type: "bar",
      data: {
        labels: [
          "January",
          "February",
          "March",
          "April",
          "May",
          "June",
          "July",
          "August",
        ],
        datasets: [
          {
            label: "Returned",

            backgroundColor: "#75BBC8",
            hoverBackgroundColor: "green",
            data: [12, 19, 3, 5, 2, 3, 5, 2],
          },
          {
            label: "Burrowed",

            backgroundColor: "#16556F",
            hoverBackgroundColor: "red",
            data: [15, 26, 2, 6, 8, 6, 3, 3],
          },
        ],
      },
      options: {
        legend: {
          position: "top",
          align: "start",
          labels: {
            boxWidth: 15,
            fontSize: 15,
          },
        },
        tooltips: { mode: "index" },
        scales: {
          xAxes: [
            {
              ticks: {
                beginAtZero: true,
              },
              gridLines: {
                display: false,
              },
            },
          ],
        },
      },
    });
  },
};
</script>