<template>
    <div>
        <canvas id="myPieChart" width="280" height="200"></canvas>
    </div>
</template>
<script>
import Chart from "chart.js";

export default {
  name: "App",
  components: {},
  mounted: function() {
    //  doughnut chart
    var ctx2 = document.getElementById("myPieChart").getContext("2d");
    new Chart(ctx2, {
      type: "doughnut",
      data: {
        labels: ["Fiction", "Mystery", "Thriller", "Horror"],
        datasets: [
          {
            label: "Number of Return",

            backgroundColor: ["#8899AA", "#16556F", "#FFD662", "#75BBC8"],
            hoverBackgroundColor: "green",
            data: [50, 50, 50, 50],
          },
        ],
      },
      options: {
        legend: {
          position: "bottom",
          align: "center",
          labels: {
            boxWidth: 15,
            fontSize: 15,
          },
        },
      },
    });
  },
};
</script>