<template>
  <div>
    <div>
      <NavBar />
    </div>
    <transition>
      <router-view  name="MainView"></router-view>
    </transition>
  </div>
</template>
<script>
import NavBar from './navigation/NavBar'
export default {
  components: {
    NavBar,
  },
}
</script>

