<template>
  <div class="navbar">
    <div class="mycontainer d-flex justify-content-between">
       <div class="textname" width="100px">
            <h1 >Tacoyo Library System</h1>
        </div>
        <div>
            <img src="../assets/img/PicsArt_10-31-01.23.53.png" width="132px" height="129px">
        </div>
       
        <div class=" user">
            <img src="../assets/img/user1.png" width="100px" height="100px">
            <p class=""> Kyle Tacoyo</p>
        </div>
        <!-- <div class=" user ml-5">
            <img src="../assets/img/user1.png" width="100px" height="100px">
            <p class="">ASDFASDF</p>
        </div> -->

         <div class="dropdown mt-5">
          <a href="#" @click="logout" class="btn btn-lg dropdown-toggle" data-toggle="dropdown" >
            Logout
          </a>
            <ul class="dropdown-menu">
              <li>
                <a href="/account">ACCOUNT</a>
              </li>
              <li>
                <a href="/status">STATUS</a>
              </li>
              <li>
                <a href="/logout">LOGOUT</a>
              </li>  
            </ul>
        </div>
      </div>
       
        
    
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  methods: {
    ...mapActions(["signOut"]),
    logout() {
      this.signOut().then(() => {
        this.$router.replace({
          name: "SignIn",
        });
      });
    },
  },
  computed: {
    ...mapGetters(["authenticated", "user"]),
  },
};
</script>