<template>
  <header>
    <div class="header-container">
      <div class="left-header">
        <h2>
          <i class="fa fa-rocket" aria-hidden="true"></i>AE
          <span>LIBRARY SYSTEMS</span>
        </h2>
      </div>
      <div class="right-header">
        <a href="#" @click="Logout" class="logout_btn"
          ><i class="fas fa-sign-out" aria-hidden="true"></i
          ><span>Log Out</span></a
        >
      </div>
    </div>
  </header>
</template>
<script>
import { mapActions } from "vuex";
export default {
  methods: {
    ...mapActions(["logout"]),
    Logout() {
      this.logout().then(() => {
        this.$router.replace({
          name: "Login",
        });
      });
    },
  },
};
</script>
<style>
@import "../assets/css/style.css";
</style>
