<template>
  <div>

    

      <div class="w-100">
        <nav class="navbar navbar-expand-lg border-bottom" style="background-color: #080927">
					<div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

    <div class="logo">
      <span class="create"><img src="../assets/img/logo1.png" width="230" height="50"></span>   			
    </div>

						<div class="collapse navbar-collapse" id="navbarSupportedContent">					    
              <button class="btn btn-logout position-absolute my-2 my-sm-0" type="submit" @click="Logout" style="background-color: #080927"><img src="../assets/img/logout.png" width="30" height="30">Logout</button>	    
            </div>
					</div>
				</nav>
      </div>
  </div>
</template>
<script>
import { mapActions } from "vuex";
export default {
  methods: {
    ...mapActions(["logout"]),
    Logout() {
      this.logout().then(() => {
        this.$router.replace({
          name: "SignIn",
        }).catch(()=>{});
      });
    },
  },
};
</script>
<style>
@import "../assets/css/style.css";
</style>
