<template>
 <div class="sidenav" id="app">
    <div class="sidebar">
		
      <router-link to="/dashboard">
        <a href="#" class="d-block active text-light p-2"><i class="icon ion-md-stats mr-3 lead"></i>Dashboard</a>
      </router-link>

      <router-link to="/patron">
        <a href="#" class="d-block text-light p-2"><i class="icon ion-md-contacts mr-3 lead"></i>Patron Management</a>
      </router-link>

      <router-link to="/book">
        <a href="#" class="d-block text-light p-2"><i class="icon ion-md-book mr-3 lead"></i>Book Management</a>
      </router-link>

      <router-link to="/setting">
        <a href="#" class="d-block text-light p-2"><i class="icon ion-md-settings mr-3 lead"></i>Settings</a>
      </router-link>
		
	
            
            
            
            
	</div>

      </div>
</template>
<script>
export default {
  props: {
    Active: String,
  },
};
</script>
<style>

</style>
