<template>
    <div>
            <SideBar />
    <NavBar />
    <router-view></router-view>
    </div>
</template>
<script>
import SideBar from "../navigation/SideBar";
import NavBar from "../navigation/NavBar";

export default {
  components: {
    SideBar,
    NavBar,
  },
};
</script>
